{% extends 'app/layouts/base.html' %}

{% load static %}

{% block title %}
Twitter-Tools Config- Auto Post 
{% endblock %}

{% block mainContent %}
<div class="row">
	<div class="col-md-8 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Auto Post Tool: Configurations</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <form>
                        	<fieldset>
                        		<legend><small>Tool Status</small></legend>
		                        <div class="form-group">
		                            <label class="col-md-3 control-label">Tool Status</label>
		                            <div class="col-md-9">
		                                <div class="mt-radio-inline">
		                                    <label class="mt-radio">
		                                        <input type="radio" name="is_active" id="optionsRadios25" value="1" checked> Active
		                                        <span></span>
		                                    </label>
		                                    <label class="mt-radio">
		                                        <input type="radio" name="is_active" id="optionsRadios26" value="0"> In-Active
		                                        <span></span>
		                                    </label>
		                                </div>
		                            </div>
		                        </div>
		                    </fieldset>
		                </form>
                        <form>
	                        <fieldset>
		                        <legend><small>Tool Run-Time Schedule</small></legend>
		                        <div class="form-group">
		                            <label class="col-md-3 control-label">Every:</label>
		                            <div class="col-md-9">
		                                <input type="number" class="form-control input-inline input-medium" placeholder="Enter text">
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label class="col-md-3 control-label">Period</label>
		                            <div class="col-md-9">
		                                <select class="form-control input-inline input-medium">
		                                    <option>Seconds</option>
		                                    <option>Minutes</option>
		                                    <option>Hours</option>
		                                    <option>Days</option>
		                                    <option>Microseconds</option>
		                                </select>
		                            </div>
		                        </div>
		                    </fieldset>
		                </form>
                        <form>
                        	<fieldset>
                        		<legend><small>Meta Configuration</small></legend>
                        	</fieldset>
                        </form>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Follow Limit Per Run</label>
                            <div class="col-md-9">
                                <input type="number" class="form-control input-inline input-medium" placeholder="Enter text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Maximum Follow Limit</label>
                            <div class="col-md-9">
                                <input type="number" class="form-control input-inline input-medium" placeholder="Enter text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Email Address</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <input type="email" class="form-control" placeholder="Email Address"> </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="Password">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Left Icon</label>
                            <div class="col-md-9">
                                <div class="input-icon">
                                    <i class="fa fa-bell-o"></i>
                                    <input type="text" class="form-control" placeholder="Left icon"> </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Right Icon</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <i class="fa fa-microphone"></i>
                                    <input type="text" class="form-control" placeholder="Right icon"> </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Icon Input in Group Input</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <div class="input-icon">
                                        <i class="fa fa-lock fa-fw"></i>
                                        <input id="newpassword" class="form-control" type="text" name="password" placeholder="password" /> </div>
                                    <span class="input-group-btn">
                                        <button id="genpassword" class="btn btn-success" type="button">
                                            <i class="fa fa-arrow-left fa-fw" /></i> Random</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Input With Spinner</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control spinner" placeholder="Password"> </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Static Control</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> email@example.com </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Disabled</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" placeholder="Disabled" disabled> </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Readonly</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" placeholder="Readonly" readonly> </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Dropdown</label>
                            <div class="col-md-9">
                                <select class="form-control">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                    <option>Option 5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Multiple Select</label>
                            <div class="col-md-9">
                                <select multiple class="form-control">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                    <option>Option 5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Textarea</label>
                            <div class="col-md-9">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile" class="col-md-3 control-label">File input</label>
                            <div class="col-md-9">
                                <input type="file" id="exampleInputFile">
                                <p class="help-block"> some help text here. </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Checkboxes</label>
                            <div class="col-md-9">
                                <div class="mt-checkbox-list">
                                    <label class="mt-checkbox">
                                        <input type="checkbox"> Checkbox 1
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox">
                                        <input type="checkbox"> Checkbox 1
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-disabled">
                                        <input type="checkbox" disabled> Disabled
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Outline Checkboxes</label>
                            <div class="col-md-9">
                                <div class="mt-checkbox-list">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox"> Checkbox 1
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox"> Checkbox 1
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline mt-checkbox-disabled">
                                        <input type="checkbox" disabled> Disabled
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Inline Checkboxes</label>
                            <div class="col-md-9">
                                <div class="mt-checkbox-inline">
                                    <label class="mt-checkbox">
                                        <input type="checkbox" id="inlineCheckbox21" value="option1"> Checkbox 1
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox">
                                        <input type="checkbox" id="inlineCheckbox22" value="option2"> Checkbox 2
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-disabled">
                                        <input type="checkbox" id="inlineCheckbox23" value="option3" disabled> Disabled
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Radios</label>
                            <div class="col-md-9">
                                <div class="mt-radio-list">
                                    <label class="mt-radio">
                                        <input type="radio" name="optionsRadios" id="optionsRadios22" value="option1" checked> Option 1
                                        <span></span>
                                    </label>
                                    <label class="mt-radio">
                                        <input type="radio" name="optionsRadios" id="optionsRadios23" value="option2" checked> Option 2
                                        <span></span>
                                    </label>
                                    <label class="mt-radio mt-radio-disabled">
                                        <input type="radio" name="optionsRadios" id="optionsRadios24" value="option2" disabled> Disabled
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Outline Radios</label>
                            <div class="col-md-9">
                                <div class="mt-radio-list">
                                    <label class="mt-radio mt-radio-outline">
                                        <input type="radio" name="optionsRadios" id="optionsRadios22" value="option1" checked> Option 1
                                        <span></span>
                                    </label>
                                    <label class="mt-radio mt-radio-outline">
                                        <input type="radio" name="optionsRadios" id="optionsRadios23" value="option2" checked> Option 2
                                        <span></span>
                                    </label>
                                    <label class="mt-radio mt-radio-outline mt-radio-disabled">
                                        <input type="radio" name="optionsRadios" id="optionsRadios24" value="option2" disabled> Disabled
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Inline Radio</label>
                            <div class="col-md-9">
                                <div class="mt-radio-inline">
                                    <label class="mt-radio">
                                        <input type="radio" name="optionsRadios" id="optionsRadios25" value="option1" checked> Option 1
                                        <span></span>
                                    </label>
                                    <label class="mt-radio">
                                        <input type="radio" name="optionsRadios" id="optionsRadios26" value="option2" checked> Option 2
                                        <span></span>
                                    </label>
                                    <label class="mt-radio mt-radio-disabled">
                                        <input type="radio" name="optionsRadios" id="optionsRadios27" value="option3" disabled> Disabled
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Submit</button>
                                <button type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}