{% extends 'app/layouts/base.html' %}

{% load static %}

{% block title %}
Twitter-Tools Config- Auto Twitter Analyzer 
{% endblock %}

{% block mainContent %}
<div class="row">
	<div class="col-md-8 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Auto Twitter Analyzer Tool: Configurations</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- FORM BODY -->
                <div class="form-body">
                    <form action="{% url 'config_tools_auto_twitter_analyzer_update_config' %}" method="POST">
                        {% csrf_token %}
                        <fieldset>
                            <legend><small>Tool Status</small></legend>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Tool Status</label>
                                <div class="col-md-9">
                                    <div class="mt-radio-inline">
                                        <label class="mt-radio">
                                            <input type="radio" name="tool_status" id="optionsRadios25" value="active" {% if conf.config.tool_status %} checked {% endif %}> Active
                                            <span></span>
                                        </label>
                                        <label class="mt-radio">
                                            <input type="radio" name="tool_status" id="optionsRadios26" value="inactive" {% if not conf.config.tool_status %} checked {% endif %}> In-Active
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </fieldset>
                        <fieldset>
                            <legend><small>Meta Configuration</small></legend>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Max limit for tweets for analysis</label>
                                <div class="col-md-9">
                                    <input type="number" required name="max_limit_for_tweet_analysis" class="form-control input-inline input-medium" placeholder="Enter text" value="{{ conf.config.max_limit_for_tweet_analysis }}">
                                </div>
                            </div>
                        </fieldset>
                        <div class="clearfix"></div>
                        <br>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="hidden" name="tool" value="auto_twitter_analyzer">
                                    <button type="submit" class="btn green">Save</button>
                                    <button type="button" class="btn default">Reset</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form action="{% url 'config_tools_auto_twitter_analyzer_update_schedule' %}" method ="POST">
                        {% csrf_token %}
                        <fieldset>
                            <legend><small>Tool Run-Time Schedule</small></legend>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Every:</label>
                                <div class="col-md-9">
                                    <input type="number" required name="every" class="form-control input-inline input-medium" placeholder="Enter text" value="{{ schedule.interval.every }}">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Period</label>
                                <div class="col-md-9">
                                    <select class="form-control input-inline input-medium" name="period">
                                        <option 
                                            {% if schedule.interval.period == 'microseconds' %}
                                                    selected
                                            {% endif %}
                                                value="microseconds">Microseconds</option>
                                        <option 
                                            {% if schedule.interval.period == 'seconds' %}
                                                    selected
                                            {% endif %} 
                                            value="seconds">Seconds</option>
                                        <option 
                                            {% if schedule.interval.period == 'minutes' %}
                                                    selected
                                            {% endif %}
                                            value="minutes">Minutes</option>
                                        <option 
                                            {% if schedule.interval.period == 'hours' %}
                                                    selected
                                            {% endif %}
                                            value="hours">Hours</option>
                                        <option 
                                            {% if schedule.interval.period == 'days' %}
                                                    selected
                                            {% endif %}
                                            value="days">Days</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <input type="hidden" name="tool" value="auto_twitter_analyzer">
                                        <button type="submit" class="btn green">Save</button>
                                        <button type="button" class="btn default">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <!-- END FORM BODY -->
            </div>
        </div>
    </div>
</div>
{% endblock %}