{% extends 'app/layouts/base.html' %}

{% load static %}

{% block title %}
Login
{% endblock %}

{% block mainContent %}
<div class="row">
    <div class="col-md-6">
        <!-- BEGIN PORTLET -->
        <div class="portlet light ">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Error Reporting</span>
                </div>
            </div>
            <div class="portlet-body">
                <!--BEGIN TABS-->
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="scroller" style="height: 320px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                            <ul class="feeds">
                                {% for cron_job in cron_jobs_feed %}
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm 
                                                    {% if cron_job.status == 'SUCCESS' %}
                                                        label-success
                                                    {% elif cron_job.status == 'FAILURE' %}
                                                        label-danger
                                                    {% else %}
                                                        label-default
                                                    {% endif %}
                                                ">
                                                    <i class="fa fa-bell-o"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> 
                                                    {{ cron_job.result }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date"> {{ cron_job.date_done|date:"D d M Y" }} </div>
                                    </div>
                                </li>
                                {% endfor %}
                                
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <!--END TABS-->
            </div>
        </div>
        <!-- END PORTLET -->
    </div>
</div>
{% endblock %}