<form action="{% url 'twitter_auto_follow_account_add' %}" class="form-horizontal" method="POST">
    {% csrf_token %}
    <!-- TASK HEAD -->
    <div class="form">
        <div class="form-group">
            <div class="col-xs-12">
                <label class="control-label" for="">Enter a twitter username to follow account</label>
                <input type="text" name="twitter_username_to_follow" class="form-control todo-taskbody-taskdesc" placeholder="Eg. @twitter_username">
            </div>
        </div>
        <!-- END TASK DESC -->
        <!-- TASK DUE DATE -->
        <!-- <div class="form-group">
            <div class="col-md-12">
                <div class="input-icon">
                    <i class="fa fa-calendar"></i>
                    <input type="text" class="form-control todo-taskbody-due" placeholder="Due Date..."> </div>
            </div>
        </div> -->
        <!-- TASK TAGS -->
        <!-- <div class="form-group">
            <div class="col-md-12">
                <select class="form-control todo-taskbody-tags">
                    <option value="Pending">Pending</option>
                    <option value="Completed">Completed</option>
                    <option value="Testing">Testing</option>
                    <option value="Approved">Approed</option>
                    <option value="Rejected">Rejected</option>
                </select>
            </div>
        </div> -->
        <!-- TASK TAGS -->
        <div class="form-actions todo-form-actions">
            <input type="hidden" name="request_by_twitter_account_id" value="{{ current_twitter_user.id }}">
            <button type="submit" class="btn btn-circle btn-sm green"><i class=" icon-social-twitter icon"></i> Add to auto-follow list</button>
            <button type="reset" class="btn btn-circle btn-sm btn-default">Clear</button>
        </div>
    </div>
</form>