{% extends 'app/layouts/base.html' %}

{% load static %}

{% block title %}
Login
{% endblock %}

{% block mainContent %}
<!-- BEGIN DASHBOARD STATS 1-->
<!-- END DASHBOARD STATS 1-->
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-green-sharp">
                        <span><small>Last run:</small> </span>
                        <small class="font-green-sharp"><span class="icon-clock"></span></small>
                    </h3>
                    <small>Auto Post Tool</small>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 100%;" class="progress-bar progress-bar-success green-sharp">
                    </span>
                </div>
            </div>
            <div class="progress-info">
                <div class="status">
        	    	<span class="clearfix">Total Runs <b class="pull-right"> Loading.. </b></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-red-haze">
                        <span><small>Last run: {{ task_auto_follow.last_run_at }}</small></span>
                        <small class="font-green-sharp"><span class="icon-clock"></span></small>
                    </h3>
                    <small>AUTO FOLLOW TOOL</small>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 100%;" class="progress-bar progress-bar-success red-haze">
                    </span>
                </div>
            </div>
            <div class="progress-info">
                <div class="status">
        	    	<span class="clearfix">Total runs <b class="pull-right">{{ task_auto_follow.total_run_count }}</b></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-sharp">
                    	<span><small>Last run: {{ task_auto_retweet.last_run_at }}</small></span>
                        <small class="font-blue-sharp"><span class="icon-clock"></span></small>
                    </h3>
                    <small>AUTO RETWEET TOOL</small>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 100%;" class="progress-bar progress-bar-success blue-sharp">
                    </span>
                </div>
            </div>
            <div class="progress-info">
                <div class="status">
        	    	<span class="clearfix">Total runs <b class="pull-right">{{ task_auto_retweet.total_run_count }}</b></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2">
            <div class="display">
                <div class="number">
                    <h3 class="font-purple-soft">
                        <span><small>Last run: {{ task_auto_direct_message.last_run_at }}</small></span>
                        <small class="font-purple-soft"><span class="icon-clock"></span></small>
                    </h3>
                    <small>AUTO DIRECT MESSAGES</small>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 100%;" class="progress-bar progress-bar-success purple-soft">
                    </span>
                </div>
            </div>
            <div class="progress-info">
                <div class="status">
        	    	<span class="clearfix">Total runs <b class="pull-right">{{ task_auto_direct_message.total_run_count }}</b></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Meta Boxes -->
<div class="row">
    <div class="col-md-6">
        <!-- BEGIN PORTLET -->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Last added twitter accounts</span>
                </div>
                
            </div>
            <div class="portlet-body">
                <div class="row number-stats margin-bottom-30">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="stat-left">
                            <div class="stat-chart">
                                <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                <div id="sparkline_bar"></div>
                            </div>
                            <div class="stat-number">
                                <div class="title"> Total </div>
                                <div class="number"> {{ twitter_accounts_count }} </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="stat-right">
                            <div class="stat-chart">
                                <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                <div id="sparkline_bar2"></div>
                            </div>
                            <div class="stat-number">
                                <div class="title"> Added this month </div>
                                <div class="number"> {{ twitter_accounts_added_this_month_count }} </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr class="uppercase">
                                <th> S. No </th>
                                <th> @<small> USERNAME</small> </th>
                                <th> ADDED BY </th>
                                <th> ADDED ON </th>
                            </tr>
                        </thead>
                        {% for new_twitter_user in twitter_accounts_added_this_month %}
                        <tr>
                            <td> {{ forloop.counter }} </td>
                            <td>{{ new_twitter_user.twitter_username }}</td>
                            <td>
                                {% for twitter_user_user in new_twitter_user.user.all %}
                                    {{ twitter_user_user.username|default:"N.A" }}
                                {% endfor %}

                            </td>
                            <td> {{ new_twitter_user.created_at }} </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <!-- END PORTLET -->
    </div>
    <div class="col-md-6">
        <!-- BEGIN PORTLET -->
        <div class="portlet light ">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Automatic Tools Feed</span>
                </div>
            </div>
            <div class="portlet-body">
                <!--BEGIN TABS-->
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="scroller" style="height: 320px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                            <ul class="feeds">
                                {% for cron_job in cron_jobs_feed %}
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm 
                                                    {% if cron_job.status == 'SUCCESS' %}
                                                        label-success
                                                    {% elif cron_job.status == 'FAILURE' %}
                                                        label-danger
                                                    {% else %}
                                                        label-default
                                                    {% endif %}
                                                ">
                                                    <i class="fa fa-bell-o"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> 
                                                    {{ cron_job.result }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date"> {{ cron_job.date_done|date:"D d M Y" }} </div>
                                    </div>
                                </li>
                                {% endfor %}
                                
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <!--END TABS-->
            </div>
        </div>
        <!-- END PORTLET -->
    </div>
</div>
<!-- END META BOXES -->
{% endblock %}