{% extends 'app/layouts/base.html' %}

{% load static %}

{% block title %}
Site Users | Edit new user
{% endblock %}

{% block mainHeading %}
Edit new user account<small> Edit existing user of the system!</small>
{% endblock %}

{% block mainContent %}
<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="" method="post" class="horizontal-form">
                    {% csrf_token %}
                    <div class="form-body">
                        <h3 class="form-section">Person Info</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group {% if addUserForm.first_name.errors %} has-error {% endif %}">
                                    <label class="control-label" for="{{ addUserForm.first_name.label }}">First Name</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="" name="first_name" value="{{ user.first_name }}">
                                    {% if addUserForm.first_name.errors %}
                                        {% for error in addUserForm.first_name.errors %}
                                            <span class="help-block"> {{ error|escape }} </span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group {% if addUserForm.last_name.errors %} has-error {% endif %}">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" id="lastName" class="form-control" placeholder="" name="last_name" value="{{ user.last_name }}">
                                    {% if addUserForm.last_name.errors %}
                                        {% for error in addUserForm.last_name.errors %}
                                            <span class="help-block"> {{ error|escape }} </span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group {% if addUserForm.email.errors %} has-error {% endif %}">
                                    <label class="control-label">Email</label>
                                    <input type="text" id="email" class="form-control" placeholder="" name="email" value="{{ user.email }}">
                                    {% if addUserForm.email.errors %}
                                        {% for error in addUserForm.email.errors %}
                                            <span class="help-block"> {{ error|escape }} </span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group {% if addUserForm.is_staff.errors %} has-error {% endif %}">
                                    <label class="control-label">Is staff</label>
                                    <select class="form-control" data-placeholder="Choose a Category" tabindex="1" name="is_staff">
                                        <option {% if user.is_staff %} selected {% endif %} value="true">Yes</option>
                                        <option {% if user.is_staff %} selected {% endif %} value="false">No</option>
                                    </select>
                                    {% if addUserForm.is_staff.errors %}
                                        {% for error in addUserForm.is_staff.errors %}
                                            <span class="help-block"> {{ error|escape }} </span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group {% if addUserForm.username.errors %} has-error {% endif %}">
                                    <label class="control-label">Username</label>
                                    <input type="text" id="username" class="form-control" name="username" value="{{ user.username }}">
                                    {% if addUserForm.username.errors %}
                                        {% for error in addUserForm.username.errors %}
                                            <span class="help-block"> {{ error|escape }} </span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group {% if addUserForm.password.errors %} has-error {% endif %}">
                                    <label class="control-label">Password</label>
                                    <input type="password" id="password" class="form-control" name="password">
                                    {% if addUserForm.password.errors %}
                                        {% for error in addUserForm.password.errors %}
                                            <span class="help-block"> {{ error|escape }} </span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group has-erro">
                                    <label class="control-label">Confirm Password</label>
                                    <input type="password" id="confirm_password" class="form-control" name="confirm_password">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                    </div>
                    <div class="form-actions">
                        <input type="hidden" name="id" value="{{ user.id }}">
                        <button type="submit" class="btn blue" name="submit">Update</button>
                        <button type="reset" class="btn default">Reset</button>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>                   
{% endblock %}