{% extends 'app/layouts/base.html' %}

{% load static %}

{% block title %}
Site Users | View users
{% endblock %}

{% block extraStyles %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="{% static "metronic/global/plugins/datatables/datatables.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "metronic/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" %}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
{% endblock %}

{% block mainHeading %}
Manage All Users
{% endblock %}

{% block mainContent %}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a id="sample_editable_1_new" class="btn sbold green" href="{% url 'users_add' %}"> Add New
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                        <tr>
                            <!-- <th>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                    <span></span>
                                </label>
                            </th> -->
                            <th> S No.</th>
                            <th> Username </th>
                            <th> Email </th>
                            <th> Date Added </th>
                            <th> Is Super-User</th>
                            <th> Is Staff</th>
                            <th> Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr class="odd gradeX">
                            <!-- <td class="hidden">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="checkboxes" value="{{ user.id }}" />
                                    <span></span>
                                </label>
                            </td> -->
                            <td> </td>
                            <td> {{ user.username }} </td>
                            <td>
                                <a href="mailto:{{ user.email }}"> {{ user.email }} </a>
                            </td>
                            <td> {{ user.date_joined }} </td>
                            <td>
                                {% if user.is_superuser %}
                                <span class="label label-sm label-success"> Yes </span>
                                {% else %}
                                <span class="label label-sm label-warning"> No </span>
                                {% endif %}
                            
                            </td>
                            <td>
                                {% if user.is_staff %}
                                <span class="label label-sm label-success"> Yes </span>
                                {% else %}
                                <span class="label label-sm label-warning"> No </span>
                                {% endif %}
                            
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-left" role="menu">
                                        <li>
                                            <a href="{% url 'users_edit' user.id  %}">
                                                <i class="icon-docs"></i> Edit Account </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="icon-tag"></i> New Comment </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="icon-user"></i> New User </a>
                                        </li>
                                        <li class="divider"> </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="icon-flag"></i> Comments
                                                <span class="badge badge-success">4</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
{% endblock %}
        
{% block extraScripts %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static "metronic/global/scripts/datatable.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/plugins/datatables/datatables.min.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" %}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static "metronic/pages/scripts/table-datatables-managed.min.js" %}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
{% endblock %}