{% extends 'app/layouts/base.html' %}

{% load static %}

{% block title %}
Twitter Tool | Add new account
{% endblock %}

{% block mainHeading %}
Add New Account
{% endblock %}

{% block mainContent %}
<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="" method="post" class="horizontal-form">
                    {% csrf_token %}
                    <div class="form-body">
                        <h3 class="form-section">Consumer Info</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="capitalize control-label" for="{{ addTwitterAccountForm.twitter_consumer_key.id_for_label }}">{{ addTwitterAccountForm.twitter_consumer_key.label }}</label>
                                    <input type="text" id="consumerKey" class="form-control" placeholder="" name="twitter_consumer_key">
                                    <span class="help-block hidden"> This is inline help </span>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group has-erro">
                                    <label class="capitalize control-label" for="{{ addTwitterAccountForm.twitter_consumer_secret.id_for_label }}">{{ addTwitterAccountForm.twitter_consumer_secret.label }}</label>
                                    <input type="text" id="consumerSecret" class="form-control" placeholder="" name="twitter_consumer_secret">
                                    <span class="help-block hidden"> This field has error. </span>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <h3 class="form-section">Access Token Info</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="capitalize control-label" for="{{ addTwitterAccountForm.twitter_access_token.id_for_label }}">{{ addTwitterAccountForm.twitter_access_token.label }}</label>
                                    <input type="text" id="accessToken" class="form-control" placeholder="" name="twitter_access_token">
                                    <span class="help-block hidden"> This is inline help </span>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group has-erro">
                                    <label class="capitalize control-label" for="{{ addTwitterAccountForm.twitter_access_token_secret.label }}">{{ addTwitterAccountForm.twitter_access_token_secret.label }}</label>
                                    <input type="text" id="accessTokenSecret" class="form-control" placeholder="" name="twitter_access_token_secret">
                                    <span class="help-block hidden"> This field has error. </span>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <h3 class="form-section">Meta Info</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="capitalize control-label" for="{{ addTwitterAccountForm.twitter_twitter_username.id_for_label }}">{{ addTwitterAccountForm.twitter_username.label }}</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon1">@</span>
                                        <input type="text" id="{{ addTwitterAccountForm.twitter_twitter_username.id_for_label }}" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" name="twitter_username"> 
                                    </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="mt-radio-list">
                                        <label class="mt-radio capitalize"> Set account as active
                                            <input type="radio" value="1" name="is_active" />
                                            <span></span>
                                        </label>
                                        <label class="mt-radio capitalize"> Set account as inactive
                                            <input type="radio" value="0" name="is_active" />
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="form-actions">
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <button type="submit" class="btn blue" name="submit">Add</button>
                        <button type="reset" class="btn default">Reset</button>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>                   
{% endblock %}