{% extends 'app/layouts/base.html' %}

{% load static %}

{% block title %}
Site Users | View users
{% endblock %}

{% block extraStyles %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="{% static "metronic/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "metronic/global/plugins/select2/css/select2.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "metronic/global/plugins/select2/css/select2-bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="{% static "metronic/apps/css/todo-2.min.css" %}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
{% endblock %}

{% block mainHeadingOld %}
Accessing account<small> @{{ current_twitter_user.twitter_username|default:"N.A" }}</small>
{% endblock %}

{% block mainContent %}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN TODO SIDEBAR -->
        <div class="todo-ui">
            
            {% include "app/blocks/sidebar.html"  %}

            <!-- BEGIN TODO CONTENT -->
            <div class="todo-content">
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN PORTLET -->
                        <div class="portlet light ">

                            <div class="tabbable-line">
                                <ul class="nav nav-tabs ">
                                    <li class="active">
                                        <a href="#tab_stats" data-toggle="tab"> Stats </a>
                                    </li>
                                    <li>
                                        <a href="#tab_settings" data-toggle="tab"> Auto Direct Message Tools </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_stats">
                                        
                                        <!-- BEGIN PORTLET -->
                                        <div class="portlet light ">
                                            <div class="portlet-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="portlet light portlet-fit">
                                                            <div class="portlet-body">
                                                                <div class="mt-element-step">
                                                                    <div class="row step-default">
                                                                        <div class="col-md-12 bg-grey mt-step-col done">
                                                                            <div class="mt-step-number first bg-white font-grey"><i class="fa fa-clock-o"></i> {{ runtime_days }}D {{ runtime_hours }}H {{ runtime_minutes }}M </div>
                                                                            <div class="mt-step-title uppercase font-grey-cascade">Total Run Time</div>
                                                                            <div class="mt-step-content font-grey-cascade">of the tool</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="portlet light portlet-fit">
                                                            <div class="portlet-body">
                                                                <div class="mt-element-step">
                                                                    <div class="row step-default">
                                                                        <div class="col-md-12 bg-grey mt-step-col active">
                                                                            <div class="mt-step-number first bg-white font-grey">{{ direct_messages|length }}</div>
                                                                            <div class="mt-step-title uppercase font-grey-cascade">Total Direct Messages Sent</div>
                                                                            <div class="mt-step-content font-grey-cascade">from the app</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="clearfix"></div>

                                                <div class="portlet-title">
                                                    <div class="caption caption-md">
                                                        <i class="icon-bar-chart theme-font hide"></i>
                                                        <span class="caption-subject font-blue-madison bold uppercase">Direct Messages History</span>
                                                        
                                                    </div>
                                                    <div class="inputs">
                                                        <!-- <div class="portlet-input input-inline input-small ">
                                                            <div class="input-icon right">
                                                                <i class="icon-magnifier"></i>
                                                                <input type="text" class="form-control form-control-solid" placeholder="search...">
                                                            </div>
                                                        </div> -->
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="scroller" style="height: 305px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                                    <div class="general-item-list">
                                                        {% if not direct_messages %}
                                                            No data to display!
                                                        {% endif %}
                                                        {% for direct_message in direct_messages %}
                                                        <div class="item">
                                                            <div class="item-head">
                                                                <div class="item-details">
                                                                    <!-- <img class="item-pic" src="../assets/pages/media/users/avatar4.jpg"> -->
                                                                    <img src="https://twitter.com/{{ direct_message.twitter_direct_message_account_id }}/profile_image?size=normal" data-url-option="mini|normal|bigger|original>" class="img-circle" alt="">
                                                                    <span class="item-label">{{ direct_message.twitter_direct_message_account_id }}</span>

                                                                </div>

                                                                <span class="item-status">
                                                                    {% if direct_message.follow_response == 'F' %}
                                                                        <span class="badge badge-success ">
                                                                            Followed back
                                                                        </span>
                                                                    {% else %}
                                                                          <span class="badge badge-danger ">
                                                                            Not Followed back
                                                                        </span>
                                                                    {% endif %}
                                                                </span>

                                                                <span class="item-status">
                                                                    <span class="badge badge-empty badge-success"></span> {{ direct_message.created_at }}
                                        
                                                                </span>
                                                                <div class="item-body"> {{ direct_message.message }} </div>
                                                            </div>
                                                        </div><!-- //item -->
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div><!-- //portlet-body -->
                                        </div>
                                        <!-- END PORTLET -->

                                    </div><!-- //tab-pane -->
                                    <div class="tab-pane" id="tab_settings">
                                        <div class="portlet-title">
                                            <div class="caption caption-md">
                                                <i class="icon-bar-chart theme-font hide"></i>
                                                <span class="caption-subject font-blue-madison bold uppercase">Auto-Direct-Message</span><br>
                                                <span class="caption-helper"> auto-follow response message</span>
                                            </div>
                                            <!-- <div class="actions">
                                                <div class="btn-group">
                                                    <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Actions <i class="fa fa-plus"></i></a>
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="portlet-body">
                                            <!-- BEGIN FORM-->
                                            <form action="{% url 'twitter_direct_message_save_template' %}" class="form-horizontal" method="POST">
                                                {% csrf_token %}
                                                <!-- TASK HEAD -->
                                                <div class="form">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <textarea maxlength="140" name="twitter_auto_response_message" class="form-control todo-taskbody-taskdesc" rows="8" placeholder="This wil be the default response when someone follows your account! This has to be cool">{{ twitter_user_meta.twitter_auto_response_message }}</textarea>
                                                        </div>
                                                    </div>
                                                
                                                    <div class="clearfix"></div>

                                                    <div class="actions">
                                                        <legend>Tool status</legend>
                                                        <input type="checkbox" class="make-switch" 
                                                            {% if current_twitter_user.config.auto_direct_message %}
                                                                checked
                                                            {% endif %}
                                                         data-on="success" data-on-color="success" data-off-color="warning" data-size="small" name="tool_status"> 
                                                            
                                                    </div>

                                                    <!-- BEGIN FORM-->
                                                    <div class="clearfix"></div>    
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label" for="">Clear direct messages older than</label>
                                                            <input type="number" min="1" value="{{ twitter_user_meta.auto_delete_direct_messages_older_than_days }}" max="100" id="accountToFollow" class="form-control" placeholder="" name="auto_delete_direct_messages_older_than_days">
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="form-actions todo-form-actions">
                                                        <input type="hidden" name="added_by_twitter_user" value="{{ current_twitter_user.id }}">
                                                        <button type="submit" class="btn btn-sm green"> Save</button>
                                                        <button type="reset" class="btn btn-sm btn-default">Reset</button>
                                                    </div>
                                                </div>
                                            </form>

                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                    
                                                        <legend>Clear all direct messages</legend>
                                                            <div class="form-group">
                                                                <button onclick="return confirm('Are you sure you want to clear all direct messages?')" type="submit" class="btn red btn-lg" name="submit"><i class="glyphicon glyphicon-exclamation-sign"></i> Wipe all?</button>
                                                            </div>
                                                    </div><!-- //col-md-12 -->
                                                </div><!-- /row -->
                                            </fieldset>
                                            
                                        </div>
                                    </div>
                                </div><!-- //tab-content -->
                            </div><!-- //tabbable-line -->
                        
                        </div><!-- //portlet light -->
                        
                    </div><!-- //col-md-12 -->
                </div><!- // row -->
                
            </div><!-- //todo-content -->
            
        </div><!-- //todo-ui -->
    </div><!-- // col-md-12 -->
    
</div><!-- //row -->

<!-- ADD FOLLOW ACCOUNT MODAL -->
<div class="modal fade" id="addFollowAccount" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Attach new account with @{{ current_twitter_user.twitter_username|default:"N.A" }}</h4>
            </div>
            <div class="modal-body">
                <form action="" class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <!-- TASK HEAD -->
                    <div class="form">
                        <div class="form-group">
                            <div class="col-md-8">
                                <label class="control-label" for="">Twitter username</label>
                                <input type="text" name="twitter_username_to_follow" class="form-control todo-taskbody-taskdesc" placeholder="Enter a twitter username to follow account">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn green pull-left"> Add follow account</button>
                <button type="button" class="btn dark btn-outline pull-left" data-dismiss="modal">Close</button>
                <input type="hidden" name="request_by_twitter_account_id" value="{{ current_twitter_user.id }}">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END ADD FOLLOW ACCOUNT MODAL -->
{% endblock %}
        
{% block extraScripts %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static "metronic/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/plugins/select2/js/select2.full.min.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/scripts/datatable.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/plugins/datatables/datatables.min.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/plugins/select2/js/select2.full.min.js" %}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static "metronic/apps/scripts/todo-2.min.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/pages/scripts/components-select2.min.js" %}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script src="{% static "metronic/pages/scripts/table-datatables-managed.min.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/pages/scripts/ui-modals.min.js" %" type="text/javascript"></script>
{% endblock %}
    </body>
</html>