{% extends 'app/layouts/base.html' %}

{% load static %}

{% block title %}
Site Users | View users
{% endblock %}

{% block extraStyles %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="{% static "metronic/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "metronic/global/plugins/select2/css/select2.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "metronic/global/plugins/select2/css/select2-bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="{% static "metronic/apps/css/todo-2.min.css" %}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
{% endblock %}

{% block mainHeadingOld %}
Auto-Twitter-Analyzer Tool<small> @{{ current_twitter_user.twitter_username|default:"N.A" }}</small>
{% endblock %}

{% block mainContent %}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN TODO SIDEBAR -->
        <div class="todo-ui">
            
            {% include "app/blocks/sidebar.html"  %}

            <!-- BEGIN TODO CONTENT -->
            <div class="todo-content">
                <!-- //hidden content -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN PORTLET -->
                        <div class="portlet light ">
                            <div class="tabbable-line">
                                <ul class="nav nav-tabs ">
                                    <li class="active">
                                        <a href="#tab_stats" data-toggle="tab"> Twitter Analyzer Stats </a>
                                    </li>
                                    <li>
                                        <a href="#tab_settings" data-toggle="tab"> Settings </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_stats">
                                        <div class="portlet-body">
                                            <div class="well">
                                                <h1>Twitter STATS for 
                                                    <span class="label label-default"> @{{ current_twitter_user.twitter_username|default:"N.A" }} </span>
                                                </h1>
                                                <label class="control-label col-md-5">Select account for twitter analysis</label>
                                                <div class="margin-bottom-10">
                                                    <select data-trigger="switch-acount-for-analysis" class="bs-select form-control input-small" data-style="blue">
                                                        {% for auto_twitter_analyzer_account in auto_twitter_analyzer_accounts %}
                                                            <option value="{{ auto_twitter_analyzer_account.id }}">{{ auto_twitter_analyzer_account.twitter_username }}</option>
                                                        {% endfor %}
                                                    </select>           
                                                </div>        
                                            </div>
                                        

                                            {% if not twitter_user_accounts_stats %}
                                                <h1><label class="label-danger">No data yet!</label></h1>
                                            {% else %}
                                
                                                <!-- BEGIN LABELS AND BADGES PORTLET-->
                                                <div class="portlet light bordered">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <span class="caption-subject font-red-sunglo bold uppercase">Profile Info</span>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <table class="table table-bordered table-striped">
                                                           <tbody>
                                                                <tr>
                                                                    <td> Lang </td>
                                                                    <td>
                                                                        {{ twitter_user_accounts_stats.stats.lang }}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td> Status Count </td>
                                                                    <td>
                                                                        {{ twitter_user_accounts_stats.stats.status_count }}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td> UTC Offset </td>
                                                                    <td>
                                                                        {{ twitter_user_accounts_stats.stats.utc_offset }}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td> Time Zone </td>
                                                                    <td>
                                                                        {{ twitter_user_accounts_stats.stats.time_zone }}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td> Geo Enabled </td>
                                                                    <td>
                                                                        {{ twitter_user_accounts_stats.stats.geo_enabled }}
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <!-- END LABELS AND BADGES PORTLET-->

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="portlet light portlet-fit bordered">
                                                            <div class="portlet-title">
                                                                <div class="caption">
                                                                    <i class=" icon-layers font-green"></i>
                                                                    <span class="caption-subject font-green bold uppercase">Daily Activity Distribution</span>
                                                                </div>
                                                            </div>
                                                            <div class="portlet-body">
                                                                <div id="daily_tweets_distribuition_morris" style="height:250px;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="portlet light portlet-fit bordered">
                                                            <div class="portlet-title">
                                                                <div class="caption">
                                                                    <i class=" icon-layers font-green"></i>
                                                                    <span class="caption-subject font-green bold uppercase">Weekly Activity Distribution</span>
                                                                </div>
                                                            </div>
                                                            <div class="portlet-body">
                                                                <div id="weekly_tweets_distribuition_morris" style="height:250px;"></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <!-- BEGIN LABELS AND BADGES PORTLET-->
                                                        <div class="portlet light bordered">
                                                            <div class="portlet-title">
                                                                <div class="caption">
                                                                    <span class="caption-subject font-red-sunglo bold uppercase">Detected languages</span>
                                                                </div>
                                                            </div>
                                                            <div class="portlet-body">
                                                                <table class="table table-bordered table-striped">
                                                                   <tbody>
                                                                        {% for val in twitter_user_accounts_stats.stats.detected_langs %}
                                                                            
                                                                                <tr>
                                                                                    <td>
                                                                                        {{ val }}
                                                                                    </td>
                                                                                </tr>
                                                                            
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <!-- END LABELS AND BADGES PORTLET-->
                                                    </div>
                                                    <div class="col-md-6">
                                                        <!-- BEGIN LABELS AND BADGES PORTLET-->
                                                        <div class="portlet light bordered">
                                                            <div class="portlet-title">
                                                                <div class="caption">
                                                                    <span class="caption-subject font-red-sunglo bold uppercase">Detected sources</span>
                                                                </div>
                                                            </div>
                                                            <div class="portlet-body">
                                                                <table class="table table-bordered table-striped">
                                                                   <tbody>
                                                                        {% for val in twitter_user_accounts_stats.stats.detected_sources %}
                                                                            {% if forloop.counter <= 5 %}
                                                                                <tr>
                                                                                    <td>
                                                                                        {{ val }}
                                                                                    </td>
                                                                                </tr>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <!-- END LABELS AND BADGES PORTLET-->
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <!-- BEGIN LABELS AND BADGES PORTLET-->
                                                        <div class="portlet light bordered">
                                                            <div class="portlet-title">
                                                                <div class="caption">
                                                                    <span class="caption-subject font-red-sunglo bold uppercase">Top Retweeted Twitter Users names</span>
                                                                </div>
                                                            </div>
                                                            <div class="portlet-body">
                                                                <table class="table table-bordered table-striped">
                                                                   <tbody>
                                                                        {% for val in twitter_user_accounts_stats.stats.retweeted_users_names %}
                                                                            {% if forloop.counter <= 5 %}
                                                                                <tr>
                                                                                    <td>
                                                                                        {{ val }}
                                                                                    </td>
                                                                                </tr>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <!-- END LABELS AND BADGES PORTLET-->
                                                    </div>
                                                    <div class="col-md-6">
                                                        <!-- BEGIN LABELS AND BADGES PORTLET-->
                                                        <div class="portlet light bordered">
                                                            <div class="portlet-title">
                                                                <div class="caption">
                                                                    <span class="caption-subject font-red-sunglo bold uppercase">Top Mentioned Twitter Users Names</span>
                                                                </div>
                                                            </div>
                                                            <div class="portlet-body">
                                                                <table class="table table-bordered table-striped">
                                                                   <tbody>
                                                                        {% for val in twitter_user_accounts_stats.stats.mentioned_users_names %}
                                                                            {% if forloop.counter <= 5 %}
                                                                                <tr>
                                                                                    <td>
                                                                                        {{ val }}
                                                                                    </td>
                                                                                </tr>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <!-- END LABELS AND BADGES PORTLET-->
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <!-- BEGIN LABELS AND BADGES PORTLET-->
                                                        <div class="portlet light bordered">
                                                            <div class="portlet-title">
                                                                <div class="caption">
                                                                    <span class="caption-subject font-red-sunglo bold uppercase">Top Hashtags</span>
                                                                </div>
                                                            </div>
                                                            <div class="portlet-body">
                                                                <table class="table table-bordered table-striped">
                                                                   <tbody>
                                                                        {% for val in twitter_user_accounts_stats.stats.detected_hashtags %}
                                                                            {% if forloop.counter <= 5 %}
                                                                                <tr>
                                                                                    <td>
                                                                                        {{ val }}
                                                                                    </td>
                                                                                </tr>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <!-- END LABELS AND BADGES PORTLET-->
                                                    </div>
                                                </div>

                                            {% endif %}

                                        </div><!-- //portlet-body -->
                                    </div>
                                    <div class="tab-pane" id="tab_settings">

                                        <div class="tab-pane" id="tab_settings">

                                        <div class="portlet-title">
                                            <div class="caption caption-md">
                                                <i class="icon-bar-chart theme-font hide"></i>
                                                <span class="caption-subject font-blue-madison bold uppercase">Attached accounts</span><br>
                                                <span class="caption-helper"> Accounts attached with this account for auto-twitter analyzer</span>
                                            </div>
                                            <div class="actions">
                                                <div class="btn-group pull-right">
                                                    <a class="btn green-haze btn-outline btn-sm" href="#addTwitterAnalyzer" data-toggle="modal" data-hover="dropdown" data-close-others="true"> Add account <i class="fa fa-plus"></i></a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                                                <thead>
                                                    <tr>
                                                        <!-- <th>
                                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                                                <span></span>
                                                            </label>
                                                        </th> -->
                                                        <th> S No.</th>
                                                        <th> @Twitter username</th>
                                                        <th> Date Added </th>
                                                        <th> Actions </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for auto_twitter_analyzer_account in auto_twitter_analyzer_accounts %}
                                                        <tr class="odd gradeX">
                                                            <td> {{ forloop.counter }} </td>
                                                            <td> {{ auto_twitter_analyzer_account.twitter_username }} </td>
                                                            <td> {{ auto_twitter_analyzer_account.created_at }}</td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                                                        <i class="fa fa-angle-down"></i>
                                                                    </button>
                                                                    <ul class="dropdown-menu pull-left" role="menu">
                                                                        <li>
                                                                            <a onclick="return confirm('Are you sure you want to remove this user from the list of attached accounts for auto-twitter anaysis?');" href="{% url 'twitter_remove_attached_account' current_twitter_user.id auto_twitter_analyzer_account.id 'auto_twitter_analyzer' %}">
                                                                                <i class="icon-trash"></i> Remove </a>
                                                                        </li>
                                                                        <!--<li class="divider"> </li>
                                                                        <li>
                                                                            <a href="javascript:;">
                                                                                <i class="icon-flag"></i> Comments
                                                                                <span class="badge badge-success">4</span>
                                                                            </a>
                                                                        </li> -->
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>    
                                        </div>

                                        <div class="portlet-title">
                                            <!-- <div class="caption caption-md">
                                                <i class="icon-bar-chart theme-font hide"></i>
                                                <span class="caption-subject font-blue-madison bold uppercase">Phrases to Auto-Follow accounts</span><br>
                                                <span class="caption-helper"> phrase to look for to follow twitter users</span>
                                            </div> -->
                                            <!-- <div class="actions">
                                                <div class="btn-group">
                                                    <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Actions <i class="fa fa-plus"></i></a>
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="portlet-body">

                                            <form action="{% url 'form_twitter_auto_twitter_analyzer_save_meta' %}" method="POST" class="horizontal-form">
                                                    <legend>Tool Settings</legend>
                                                    {% csrf_token %}
                                                    <fieldset>
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                <label>Tool status</label>
                                                                <div class="actions">
                                                                    <input type="checkbox" class="make-switch" 
                                                                        {% if current_twitter_user.config.auto_twitter_analyzer %}
                                                                            checked
                                                                        {% endif %}
                                                                     data-on="success" data-on-color="success" data-off-color="warning" data-size="small" name="tool_status"> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <div class="clearfix"></div>
                                                    <br>
                                                    <div class="form-actions">
                                                        <div class="col-md-6">
                                                            <input type="hidden" name="added_by_twitter_user" value="{{ current_twitter_user.id }}">
                                                            <button type="submit" class="btn blue" name="submit">Save</button>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                            </form><!-- END FORM-->
                                           
                                        </div>

                                    </div><!-- tab-pane -->

                                    </div><!-- //tab_settings -->
                                </div><!-- //tab-content -->
                            
                        </div>
                    </div>
                
                </div>
            <!-- END TODO CONTENT -->
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>

<!-- ADD TWITTER AUTO ANALYZER ACCOUNT MODAL -->
<div class="modal fade" id="addTwitterAnalyzer" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <form action="{% url 'twitter_auto_twitter_analyzer_account_add' %}" class="form-horizontal" method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    <!-- TASK HEAD -->
                    <div class="form">
                        <div class="form-group">
                            <div class="col-md-8">
                                <label class="control-label" for="">Twitter username</label>
                                <input type="text" name="twitter_username" class="form-control todo-taskbody-taskdesc" placeholder="Enter a twitter username to follow account">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn green pull-left"> Add account</button>
                    <button type="button" class="btn dark btn-outline pull-left" data-dismiss="modal">Close</button>
                    <input type="hidden" name="added_by_twitter_user" value="{{ current_twitter_user.id }}">
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END ADD TWITTER AUTO ANALYZER ACCOUNT MODAL -->

{% endblock %}
        
{% block extraScripts %}

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static "metronic/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/plugins/select2/js/select2.full.min.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/scripts/datatable.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/plugins/datatables/datatables.min.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/plugins/select2/js/select2.full.min.js" %}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static "metronic/global/plugins/morris/raphael-min.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/plugins/morris/morris.min.js" %}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script src="{% static "metronic/pages/scripts/table-datatables-managed.min.js" %}" type="text/javascript"></script>

<script type="text/javascript">

$('select[data-trigger=switch-acount-for-analysis]').on('change', function(){
    location.href = "{% url 'twitter_auto_twitter_analyzer_account' current_twitter_user.id %}?attached_account_id="+ this.value;
});

Morris.Bar({
  element: 'daily_tweets_distribuition_morris',
  data: [
    {% for key, val in twitter_user_accounts_stats.stats.activity_hourly.items %}
    { time: '{{ key }}', activity: {{ val }} },
    {% endfor  %}
  ],
  xkey: 'time',
  ykeys: ['activity'],
  labels: ['Activity', 'Time']
});

Morris.Bar({
  element: 'weekly_tweets_distribuition_morris',
  data: [
    {% for key, val in twitter_user_accounts_stats.stats.activity_hourly.items %}
    { y: '{{ key }}', a: {{ val }} },
    {% endfor  %}
  ],
  xkey: 'y',
  ykeys: ['a'],
  labels: ['Activity', 'Time']
});
</script>
{% endblock %}