{% extends 'app/layouts/base.html' %}

{% load static %}

{% block title %}
Site Users | View users
{% endblock %}

{% block extraStyles %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="{% static "metronic/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "metronic/global/plugins/select2/css/select2.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "metronic/global/plugins/select2/css/select2-bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="{% static "metronic/apps/css/todo-2.min.css" %}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
{% endblock %}

{% block mainHeadings %}
Accessing account<small> @{{ current_twitter_user.twitter_username|default:"N.A" }}</small>
{% endblock %}

{% block mainContent %}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN TODO SIDEBAR -->
        <div class="todo-ui">
            
            {% include "app/blocks/sidebar.html"  %}

            <!-- BEGIN TODO CONTENT -->
            <div class="todo-content">
                <div class="portlet light ">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a href="#tab_stats" data-toggle="tab"> Stats </a>
                            </li>
                            <li>
                                <a href="#tab_settings" data-toggle="tab"> Auto Post Tool </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_stats">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- BEGIN PORTLET -->
                                        <div class="portlet light ">
                                            
                                            <div class="row">
                                                
                                                <div class="col-md-6">
                                                    <div class="portlet light portlet-fit">
                                                        <div class="portlet-body">
                                                            <div class="mt-element-step">
                                                                <div class="row step-default">
                                                                    <div class="col-md-12 bg-grey mt-step-col done">
                                                                        <div class="mt-step-number first bg-white font-grey"><i class="fa fa-clock-o"></i> {{ runtime_days }}D {{ runtime_hours }}H {{ runtime_minutes }}M </div>
                                                                        <div class="mt-step-title uppercase font-grey-cascade">Total Run Time</div>
                                                                        <div class="mt-step-content font-grey-cascade">of the tool</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="portlet light portlet-fit">
                                                        <div class="portlet-body">
                                                            <div class="mt-element-step">
                                                                <div class="row step-default">
                                                                    <div class="col-md-12 bg-grey mt-step-col active">
                                                                        <div class="mt-step-number first bg-white font-grey"># {{ tweets|length }}</div>
                                                                        <div class="mt-step-title uppercase font-grey-cascade">Total tweets</div>
                                                                        <div class="mt-step-content font-grey-cascade">from the app</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="portlet light portlet-fit">
                                                        <div class="portlet-body">
                                                            <div class="mt-element-step">
                                                                <div class="row step-default">
                                                                    <div class="col-md-12 bg-grey mt-step-col bg-yellow-soft">
                                                                        <div class="mt-step-number first bg-white font-yellow-soft"># {{ tweets|length }}</div>
                                                                        <div class="mt-step-title uppercase font-white">Current Post Number</div>
                                                                        <div class="mt-step-content font-white">from the associated google sheet</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                         
                                            </div>

                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart theme-font hide"></i>
                                                    <span class="caption-subject font-blue-madison bold uppercase">Tweets History</span>
                                                    <span class="caption-helper"> <small>Last 5 tweets</small> </span>
                                                </div>
                                                <div class="inputs">
                                                    <!-- <div class="portlet-input input-inline input-small ">
                                                        <div class="input-icon right">
                                                            <i class="icon-magnifier"></i>
                                                            <input type="text" class="form-control form-control-solid" placeholder="search...">
                                                        </div>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="scroller" style="height: 305px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                                    <div class="general-item-list">
                                                        {% for tweet in tweets %}
                                                        <div class="item">
                                                            <div class="item-head">
                                                                <div class="item-details">
                                                                    <!-- <img class="item-pic" src="../assets/pages/media/users/avatar4.jpg"> -->
                                                                    <a href="" class="item-name primary-link">{{ tweet.twitteruser.twitter_username }}</a>
                                                                    <span class="item-label">{{ tweet.created_at }}</span>
                                                                </div>
                                                                <span class="item-status">
                                                                    {% if tweet.status %}
                                                                        <span class="badge badge-success ">
                                                                            Success
                                                                        </span>
                                                                    {% else %}
                                                                        <span class="badge badge-danger ">
                                                                            Error
                                                                        </span>
                                                                    {% endif %}
                                                                </span>
                                                            </div>
                                                            <div class="item-body"> {{ tweet.message }} </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END PORTLET -->
                                    </div>
                                </div>          
                            </div>
                            <div class="tab-pane" id="tab_settings">   
                                <!-- PROJECT HEAD -->
                                <!-- end PROJECT HEAD -->
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <form action="{% url 'twitter_auto_post_save_meta' %}" class="form-horizontal" method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <!-- TASK HEAD -->
                                                <div class="form">

                                                    <div class="form-group">
                                                        <div class="col-md-6">
                                                            <legend>Tool status</legend>
                                                            <div class="actions">
                                                                <input type="checkbox" class="make-switch" 
                                                                    {% if current_twitter_user.config.auto_post %}
                                                                        checked
                                                                    {% endif %}
                                                                 data-on="success" data-on-color="success" data-off-color="warning" data-size="small" name="tool_status" value="

                                                                {% with tool_status=current_twitter_user.config %}
                                                                    {% if tool_status.auto_post %}
                                                                        1
                                                                    {% else %}
                                                                        0
                                                                    {% endif %} 
                                                                {% endwith %}
                                                                ">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-md-6">
                                                            <label>Google sheets {{ current_twitter_user_meta.is_active }} secret</label>
                                                            <input type="file" name="file" accept="text/json">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-md-6">
                                                            <label>Google Sheets Name </label>
                                                            <input type="text" class="form-control" value="{{ current_twitter_user_meta.google_sheets_file_name }}" name="google_sheets_file_name">
                                                            <span class="help-block">This file name will be used for automatic twitter posts</span>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-actions todo-form-actions">
                                                        <input type="hidden" name="added_by_twitter_user" value="{{ current_twitter_user.id }}">
                                                        <button type="submit" class="btn btn-sm green"> Save</button>
                                                        <button type="reset" class="btn btn-sm btn-default">Clear</button>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END TODO CONTENT -->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
{% endblock %}
        
{% block extraScripts %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static "metronic/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/plugins/select2/js/select2.full.min.js" %}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static "metronic/apps/scripts/todo-2.min.js" %}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
{% endblock %}
    </body>
</html>