{% extends 'app/layouts/base.html' %}

{% load static %}

{% block title %}
Site Users | View users
{% endblock %}

{% block extraStyles %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="{% static "metronic/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "metronic/global/plugins/select2/css/select2.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "metronic/global/plugins/select2/css/select2-bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="{% static "metronic/apps/css/todo-2.min.css" %}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
{% endblock %}

{% block mainHeadingHidden %}
Auto-Follow Tool<small> @{{ current_twitter_user.twitter_username|default:"N.A" }}</small>
{% endblock %}

{% block mainContent %}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN TODO SIDEBAR -->
        <div class="todo-ui">
            
            {% include "app/blocks/sidebar.html"  %}

            <!-- BEGIN TODO CONTENT -->
            <div class="todo-content">
            
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN PORTLET -->
                        <div class="portlet light ">

                            <div class="tabbable-line">
                                <ul class="nav nav-tabs ">
                                    <li class="active">
                                        <a href="#tab_stats" data-toggle="tab"> Stats </a>
                                    </li>
                                    <li>
                                        <a href="#tab_settings" data-toggle="tab"> Auto Follow/Unfollow Tools </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_stats">
                                        
                                        <!-- BEGIN PORTLET -->
                                        <div class="portlet light ">
                                            <div class="portlet-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="portlet light portlet-fit">
                                                            <div class="portlet-body">
                                                                <div class="mt-element-step">
                                                                    <div class="row step-default">
                                                                        <div class="col-md-12 bg-grey mt-step-col done">
                                                                            <div class="mt-step-number first bg-white font-grey"><i class="fa fa-clock-o"></i> {{ runtime_days }}D {{ runtime_hours }}H {{ runtime_minutes }}M </div>
                                                                            <div class="mt-step-title uppercase font-grey-cascade">Total Run Time</div>
                                                                            <div class="mt-step-content font-grey-cascade">of the tool</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="portlet light portlet-fit">
                                                            <div class="portlet-body">
                                                                <div class="mt-element-step">
                                                                    <div class="row step-default">
                                                                        <div class="col-md-12 bg-grey mt-step-col active">
                                                                            <div class="mt-step-number first bg-white font-grey">{{ follows|length }}</div>
                                                                            <div class="mt-step-title uppercase font-grey-cascade">Total Follows</div>
                                                                            <div class="mt-step-content font-grey-cascade">from the app</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="portlet light portlet-fit">
                                                            <div class="portlet-body">
                                                                <div class="mt-element-step">
                                                                    <div class="row step-default">
                                                                        <div class="col-md-12 bg-grey mt-step-col bg-yellow-soft">
                                                                            <div class="mt-step-number first bg-white font-yellow-soft">{{ follow_backs_count }}</div>
                                                                            <div class="mt-step-title uppercase font-white">Total Unfollows</div>
                                                                            <div class="mt-step-content font-white">from the app</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="portlet light portlet-fit">
                                                            <div class="portlet-body">
                                                                <div class="mt-element-step">
                                                                    <div class="row step-default">
                                                                        <div class="col-md-12 bg-grey mt-step-col error">
                                                                            <div class="mt-step-number first bg-white font-grey">{{ follow_backs_count }}</div>
                                                                            <div class="mt-step-title uppercase font-grey-cascade">Total Follow Backs</div>
                                                                            <div class="mt-step-content font-grey-cascade">from the app</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="clearfix"></div>

                                                <div class="portlet-title">
                                                    <div class="caption caption-md">
                                                        <i class="icon-bar-chart theme-font hide"></i>
                                                        <span class="caption-subject font-blue-madison bold uppercase">Follow History</span>
                                                        
                                                    </div>
                                                    <div class="inputs">
                                                        <!-- <div class="portlet-input input-inline input-small ">
                                                            <div class="input-icon right">
                                                                <i class="icon-magnifier"></i>
                                                                <input type="text" class="form-control form-control-solid" placeholder="search...">
                                                            </div>
                                                        </div> -->
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="scroller" style="height: 305px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                                    <div class="general-item-list">
                                                        {% for follow in follows %}
                                                        <div class="item">
                                                            <div class="item-head">
                                                                <div class="item-details">
                                                                    <!-- <img class="item-pic" src="../assets/pages/media/users/avatar4.jpg"> -->
                                                                    <img src="https://twitter.com/{{ follow.twitter_follow_account_id }}/profile_image?size=normal" data-url-option="mini|normal|bigger|original>" class="img-circle" alt="">
                                                                    <span class="item-label">{{ follow.twitter_follow_account_id }}</span>

                                                                </div>

                                                                <span class="item-status">
                                                                    {% if follow.follow_response == 'F' %}
                                                                        <span class="badge badge-success ">
                                                                            Followed back
                                                                        </span>
                                                                    {% else %}
                                                                          <span class="badge badge-danger ">
                                                                            Not Followed back
                                                                        </span>
                                                                    {% endif %}
                                                                </span>

                                                                <span class="item-status">
                                                                    <span class="badge badge-empty badge-success"></span> {{ follow.created_at }}
                                        
                                                                </span>
                                                                <div class="item-body"> {{ follow.message }} </div>
                                                            </div>
                                                        </div><!-- //item -->
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div><!-- //portlet-body -->
                                        </div>
                                        <!-- END PORTLET -->

                                    </div><!-- //tab-pane -->
                                    <div class="tab-pane" id="tab_settings">

                                        <div class="portlet-title">
                                            <div class="caption caption-md">
                                                <i class="icon-bar-chart theme-font hide"></i>
                                                <span class="caption-subject font-blue-madison bold uppercase">Attached accounts</span><br>
                                                <span class="caption-helper"> Accounts attached with this account for auto-follow</span>
                                            </div>
                                            <div class="actions">
                                                <div class="btn-group pull-right">
                                                    <a class="btn green-haze btn-outline btn-sm" href="#addFollowAccount" data-toggle="modal" data-hover="dropdown" data-close-others="true"> Add account <i class="fa fa-plus"></i></a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                                                <thead>
                                                    <tr>
                                                        <!-- <th>
                                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                                                <span></span>
                                                            </label>
                                                        </th> -->
                                                        <th> S No.</th>
                                                        <th> @Twitter username</th>
                                                        <th> Date Added </th>
                                                        <th> Actions </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if not attached_followers %}
                                                        <tr><td colspan="4">Nothing to display!</td></tr>
                                                    {% endif %}
                                                    {% for attached_follower in attached_followers %}
                                                        <tr class="odd gradeX">
                                                            <td> {{ forloop.counter }} </td>
                                                            <td> {{ attached_follower.twitter_username }} </td>
                                                            <td> {{ attached_follower.created_at }}</td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                                                        <i class="fa fa-angle-down"></i>
                                                                    </button>
                                                                    <ul class="dropdown-menu pull-left" role="menu">
                                                                        <li>
                                                                            <a onclick="return confirm('Are you sure you want to remove this user from the list of attached accounts for auto-follow?');" href="{% url 'twitter_remove_attached_account' current_twitter_user.id attached_follower.id 'auto_follow' %}">
                                                                                <i class="icon-trash"></i> Remove </a>
                                                                        </li>
                                                                        <!--<li class="divider"> </li>
                                                                        <li>
                                                                            <a href="javascript:;">
                                                                                <i class="icon-flag"></i> Comments
                                                                                <span class="badge badge-success">4</span>
                                                                            </a>
                                                                        </li> -->
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>    
                                        </div>

                                        <div class="portlet-title">
                                            <div class="caption caption-md">
                                                <i class="icon-bar-chart theme-font hide"></i>
                                                <span class="caption-subject font-blue-madison bold uppercase">Attached phrases</span><br>
                                                <span class="caption-helper"> Phrases attached with this account for auto-follow</span>
                                            </div>
                                            <div class="actions">
                                                <div class="btn-group pull-right">
                                                    <a class="btn green-haze btn-outline btn-sm" href="#addFollowPhrase" data-toggle="modal" data-hover="dropdown" data-close-others="true"> Add account <i class="fa fa-plus"></i></a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                                                <thead>
                                                    <tr>
                                                        <!-- <th>
                                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                                                <span></span>
                                                            </label>
                                                        </th> -->
                                                        <th> S No.</th>
                                                        <th> Phrase</th>
                                                        <th> Date Added </th>
                                                        <th> Actions </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if not phrases %}
                                                        <tr><td colspan="4">Nothing to display!</td></tr>
                                                    {% endif %}
                                                    {% if phrases %}
                                                        {% for phrase in phrases %}
                                                            <tr class="odd gradeX">
                                                                <td> {{ forloop.counter }} </td>
                                                                <td> {{ phrase.auto_follow_phrase }} </td>
                                                                <td> {{ phrase.created_at }}</td>
                                                                <td>
                                                                    <div class="btn-group">
                                                                        <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                                                            <i class="fa fa-angle-down"></i>
                                                                        </button>
                                                                        <ul class="dropdown-menu pull-left" role="menu">
                                                                            <li>
                                                                                <a onclick="return confirm('Are you sure you want to remove this user from the list of attached accounts for auto-follow?');" href="{% url 'twitter_remove_attached_phrase' current_twitter_user.id phrase.id %}">
                                                                                    <i class="icon-trash"></i> Remove </a>
                                                                            </li>
                                                                            <!--<li class="divider"> </li>
                                                                            <li>
                                                                                <a href="javascript:;">
                                                                                    <i class="icon-flag"></i> Comments
                                                                                    <span class="badge badge-success">4</span>
                                                                                </a>
                                                                            </li> -->
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% else %}
                                                        <tr><td colspan="4">No records to show!</td></tr>
                                                    {% endif %}
                                                </tbody>
                                            </table>    
                                        </div>

                                        <div class="portlet-title">
                                            <!-- <div class="caption caption-md">
                                                <i class="icon-bar-chart theme-font hide"></i>
                                                <span class="caption-subject font-blue-madison bold uppercase">Phrases to Auto-Follow accounts</span><br>
                                                <span class="caption-helper"> phrase to look for to follow twitter users</span>
                                            </div> -->
                                            <!-- <div class="actions">
                                                <div class="btn-group">
                                                    <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Actions <i class="fa fa-plus"></i></a>
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="portlet-body">

                                            <form action="{% url 'twitter_auto_follow_save_meta' %}" method="POST" class="horizontal-form">
                                                <div class="form-body">
                                                    {% csrf_token %}
                                                    <legend>Tool Settings</legend>
                                                    <fieldset>
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                <label>Auto-Follow Tool Status</label>
                                                                <div class="actions">
                                                                    <input type="checkbox" class="make-switch" 
                                                                        {% if current_twitter_user.config.auto_follow %}
                                                                            checked
                                                                        {% endif %}
                                                                     data-on="success" data-on-color="success" data-off-color="warning" data-size="small" name="tool_status">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <br>

                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                <label>Auto Follow Phrase Tool Status</label>
                                                                <div class="actions">
                                                                    <input type="checkbox" class="make-switch" 
                                                                        {% if current_twitter_user.config.auto_follow_phrase %}
                                                                            checked
                                                                        {% endif %}
                                                                     data-on="success" data-on-color="success" data-off-color="warning" data-size="small" name="tool_status_auto_follow_phrase">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="clearfix"></div>
                                                        <br>

                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                <label>Auto-Unfollow Tool Status</label>
                                                                <div class="actions">
                                                                    <input type="checkbox" class="make-switch" 
                                                                        {% if current_twitter_user.config.auto_unfollow %}
                                                                            checked
                                                                        {% endif %}
                                                                     data-on="success" data-on-color="success" data-off-color="warning" data-size="small" name="tool_status_auto_unfollow">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="clearfix"></div>
                                                        <br>
                                                        <div class="form-actions todo-form-actions">
                                                            <div class="col-md-6">
                                                                <input type="hidden" name="added_by_twitter_user" value="{{ current_twitter_user.id }}">
                                                                <button type="submit" class="btn btn-sm green"> Save</button>
                                                                <button type="reset" class="btn btn-sm btn-default">Clear</button>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </form><!-- END FORM-->
                                            
                                                
                                        </div>

                                    </div><!-- tab-pane -->
                                </div>
                            </div>
                        </div><!-- END PORTLET LIGHT -->
                    </div><!-- END COL-MD-12-->
                </div><!-- END ROW -->

            </div><!-- END TODO-CONTENT -->
        </div><!-- ED TODO-UI -->
    
    </div><!-- END COl-MD-12 -->
</div><!-- END ROW -->

<!-- ADD FOLLOW ACCOUNT MODAL -->
<div class="modal fade" id="addFollowAccount" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Add Account For Auto-Follow
            </div>
            <form action="{% url 'twitter_auto_follow_account_add' %}" class="form-horizontal" method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    <!-- TASK HEAD -->
                    <div class="form">
                        <div class="form-group">
                            <div class="col-md-8">
                                <label class="control-label" for="">Twitter username</label>
                                <input type="text" name="twitter_username" class="form-control todo-taskbody-taskdesc" placeholder="Enter a twitter username to follow account">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn green pull-left"> Add follow account</button>
                    <button type="button" class="btn dark btn-outline pull-left" data-dismiss="modal">Close</button>
                    <input type="hidden" name="added_by_twitter_user" value="{{ current_twitter_user.id }}">
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END ADD FOLLOW ACCOUNT MODAL -->

<!-- ADD FOLLOW PHRASE MODAL -->
<div class="modal fade" id="addFollowPhrase" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Add Phrase For Auto-Follow
            </div>
            <form action="{% url 'form_twitter_follow_accounts_add_phrase' %}" class="form-horizontal" method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    <!-- TASK HEAD -->
                    <div class="form">
                        <div class="form-group">
                            <div class="col-md-8">
                                <label class="control-label" for="">Phrase</label>
                                <input type="text" name="auto_follow_phrase" class="form-control todo-taskbody-taskdesc" placeholder="Enter a phrase follow account">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn green pull-left"> Add</button>
                    <button type="button" class="btn dark btn-outline pull-left" data-dismiss="modal">Close</button>
                    <input type="hidden" name="added_by_twitter_user" value="{{ current_twitter_user.id }}">
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END ADD FOLLOW ACCOUNT MODAL -->
{% endblock %}
        
{% block extraScripts %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static "metronic/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/plugins/select2/js/select2.full.min.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/scripts/datatable.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/plugins/datatables/datatables.min.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" %}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<!-- END PAGE LEVEL SCRIPTS -->
{% endblock %}
    </body>
</html>