{% extends 'app/layouts/base.html' %}

{% load static %}

{% block title %}
Site Users | View users
{% endblock %}

{% block extraStyles %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="{% static "metronic/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "metronic/global/plugins/select2/css/select2.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "metronic/global/plugins/select2/css/select2-bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="{% static "metronic/apps/css/todo-2.min.css" %}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
{% endblock %}

{% block mainHeading %}
Auto-Retweet Tool<small> @{{ current_twitter_user.twitter_username|default:"N.A" }}</small>
{% endblock %}

{% block mainContent %}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN TODO SIDEBAR -->
        <div class="todo-ui">
            
            {% include "app/blocks/sidebar.html"  %}

            <!-- BEGIN TODO CONTENT -->
            <div class="todo-content">
                <!-- //hidden content -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN PORTLET -->
                        <div class="portlet light ">
                            
                            <div class="tabbable-line">
                                <ul class="nav nav-tabs ">
                                    <li class="active">
                                        <a href="#tab_stats" data-toggle="tab"> Stats </a>
                                    </li>
                                    <li>
                                        <a href="#tab_settings" data-toggle="tab"> Settings </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_stats">
                                        
                                        <!-- BEGIN PORTLET -->
                                        <div class="portlet light ">
                                            <div class="portlet-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="portlet light portlet-fit">
                                                            <div class="portlet-body">
                                                                <div class="mt-element-step">
                                                                    <div class="row step-default">
                                                                        <div class="col-md-12 bg-grey mt-step-col done">
                                                                            <div class="mt-step-number first bg-white font-grey"><i class="fa fa-clock-o"></i> {{ runtime_days }}D {{ runtime_hours }}H {{ runtime_minutes }}M </div>
                                                                            <div class="mt-step-title uppercase font-grey-cascade">Total Run Time</div>
                                                                            <div class="mt-step-content font-grey-cascade">of the tool</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="portlet light portlet-fit">
                                                            <div class="portlet-body">
                                                                <div class="mt-element-step">
                                                                    <div class="row step-default">
                                                                        <div class="col-md-12 bg-grey mt-step-col active">
                                                                            <div class="mt-step-number first bg-white font-grey">{{ follows|length }}</div>
                                                                            <div class="mt-step-title uppercase font-grey-cascade">Total retweets</div>
                                                                            <div class="mt-step-content font-grey-cascade">from the app</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="clearfix"></div>

                                                <div class="portlet-title">
                                                    <div class="caption caption-md">
                                                        <i class="icon-bar-chart theme-font hide"></i>
                                                        <span class="caption-subject font-blue-madison bold uppercase">Retweets History</span>
                                                        
                                                    </div>
                                                    <div class="inputs">
                                                        <!-- <div class="portlet-input input-inline input-small ">
                                                            <div class="input-icon right">
                                                                <i class="icon-magnifier"></i>
                                                                <input type="text" class="form-control form-control-solid" placeholder="search...">
                                                            </div>
                                                        </div> -->
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="scroller" style="height: 305px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                                    <div class="general-item-list">
                                                        {% for retweet in retweets %}
                                                        <div class="item">
                                                            <div class="item-head">
                                                                <div class="item-details">
                                                                    <!-- <img class="item-pic" src="../assets/pages/media/users/avatar4.jpg"> -->
                                                                    <img src="https://twitter.com/{{ retweet.twitter_follow_account_id }}/profile_image?size=normal" data-url-option="mini|normal|bigger|original>" class="img-circle" alt="">
                                                                    <span class="item-label">{{ retweet.twitter_retweet_account_id }}</span>

                                                                </div>

                                                                <span class="item-status">
                                                                    <span class="badge badge-empty badge-success"></span> {{ retweet.created_at }}
                                                                </span>
                                                                
                                                            </div>
                                                        </div><!-- //item -->
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div><!-- //portlet-body -->
                                        </div>
                                        <!-- END PORTLET -->

                                    </div><!-- //tab-pane -->
                                    <div class="tab-pane" id="tab_settings">

                                        <div class="portlet-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <!-- BEGIN PORTLET -->
                                                    <div class="portlet light ">
                                                        <div class="portlet-title">
                                                            <div class="caption caption-md">
                                                                <i class="icon-bar-chart theme-font hide"></i>
                                                                <span class="caption-subject font-blue-madison bold uppercase">Attached accounts</span><br>
                                                            </div>
                                                            <div class="actions">
                                                                <div class="btn-group">
                                                                    <a class="btn green-haze btn-outline btn-sm" href="#addRetweetAccount" data-toggle="modal" data-hover="dropdown" data-close-others="true"> Add account <i class="fa fa-plus"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="portlet-body">
                                                            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                                                                <thead>
                                                                    <tr>
                                                                        <!-- <th>
                                                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                                                                <span></span>
                                                                            </label>
                                                                        </th> -->
                                                                        <th> S No.</th>
                                                                        <th> @Twitter username</th>
                                                                        <th> Date Added </th>
                                                                        <th> Actions </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for attached_retweet_account in attached_retweet_accounts %}
                                                                        <tr class="odd gradeX">
                                                                            <td> {{ forloop.counter }}</td>
                                                                            <td> {{ attached_retweet_account.twitter_username }}</td>
                                                                            <td> {{ attached_retweet_account.created_at }}</td>
                                                                            <td>
                                                                                <div class="btn-group">
                                                                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                                                                        <i class="fa fa-angle-down"></i>
                                                                                    </button>
                                                                                    <ul class="dropdown-menu pull-left" role="menu">
                                                                                        <li>
                                                                                            <a onclick="return confirm('Are you sure you want to remove this user?');" href="{% url 'twitter_remove_attached_account' current_twitter_user.id attached_retweet_account.id 'auto_retweet' %}">
                                                                                                <i class="icon-trash"></i> Remove </a>
                                                                                        </li>                                           
                                                                                    </ul>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>

                                                            <form action="{% url 'twitter_auto_retweet_save_meta' %}" method="POST" class="horizontal-form">
                                                                <legend>Tool Settings</legend>
                                                                <fieldset>
                                                                    {% csrf_token %}
                                                                    <div class="form-group">
                                                                        <div class="col-md-6">
                                                                            <label>Tool status</label>
                                                                            <div class="actions">
                                                                                <input type="checkbox" class="make-switch" 
                                                                                    {% if current_twitter_user.config.auto_retweet %}
                                                                                        checked
                                                                                    {% endif %}
                                                                                 data-on="success" data-on-color="success" data-off-color="warning" data-size="small" name="tool_status" value="{% if current_twitter_user_meta.is_active %}
                                                                                        1
                                                                                    {% else %}
                                                                                        0
                                                                                    {% endif %}"> 
                                                                                    
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </fieldset><br>
                                                                <div class="form-group">
                                                                    <div class="col-md-6">
                                                                        <div class="form-actions">
                                                                            <input type="hidden" name="added_by_twitter_user" value="{{ current_twitter_user.id }}">
                                                                            <button type="submit" class="btn blue" name="submit">Save</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>

                                                        </div>
                                                    </div>
                                                    <!-- END PORTLET -->
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                        <!-- END PORTLET -->
                        </div>
                        </div><!-- //portlet-light -->
                    </div><!-- //col-md-12 -->
                </div><!-- row -->
            </div><!-- //todo-content -->
        </div><!-- //todo-ui -->
    </div><!-- //col-md-12 -->
</div><!-- //row -->

<!-- ADD FOLLOW ACCOUNT MODAL -->
<div class="modal fade" id="addRetweetAccount" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Attach new account with @{{ current_twitter_user.twitter_username|default:"N.A" }}</h4>
            </div>
            <form action="{% url 'twitter_auto_retweet_account_add' %}" class="form-horizontal" method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    <!-- TASK HEAD -->
                    <div class="form">
                        <div class="form-group">
                            <div class="col-md-8">
                                <label class="control-label" for="">Twitter username</label>
                                <input type="text" name="twitter_username" class="form-control todo-taskbody-taskdesc" placeholder="Enter a twitter username to follow account">
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="added_by_twitter_user" value="{{ current_twitter_user.id }}">
                    <button type="submit" class="btn green pull-left"> Add follow account</button>
                    <button type="button" class="btn dark btn-outline pull-left" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END ADD FOLLOW ACCOUNT MODAL -->
{% endblock %}
        
{% block extraScripts %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static "metronic/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/plugins/select2/js/select2.full.min.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/scripts/datatable.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/plugins/datatables/datatables.min.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/plugins/select2/js/select2.full.min.js" %}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static "metronic/apps/scripts/todo-2.min.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/pages/scripts/components-select2.min.js" %}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script src="{% static "metronic/pages/scripts/table-datatables-managed.min.js" %}" type="text/javascript"></script>
{% endblock %}
    </body>
</html>