{% extends 'app/layouts/base.html' %}

{% load static %}

{% block title %}
Site Users | View users
{% endblock %}

{% block extraStyles %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="{% static "metronic/global/plugins/datatables/datatables.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "metronic/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" %}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
{% endblock %}

{% block mainHeading %}
Connected Accounts
{% endblock %}

{% block mainContent %}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a id="sample_editable_1_new" class="btn sbold green" href="{% url 'twitter_add_account' %}"> Add New
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                        <tr>
                            <!-- <th>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                    <span></span>
                                </label>
                            </th> -->
                            <th> </th>
                            <th> @Twitter Username</th>
                            <th> Account Status </th>
                            <th> Date Added </th>
                            <th> Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for twitter_user in twitter_users %}
                        <tr class="odd gradeX
                            {% if twitter_user.is_active %}
                            {% endif %}
                        ">
                            <!-- <td class="hidden">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="checkboxes" value="{{ twitter_user.id }}" />
                                    <span></span>
                                </label>
                            </td> -->
                            <td> 
                                <img src="https://twitter.com/{{ twitter_user.twitter_username }}/profile_image?size=normal" data-url-option="mini|normal|bigger|original>" class="img-circle" alt="">
                            </td>
                            <td> 
                                @{{ twitter_user.twitter_username|default:"N.A" }} 
                            </td>
                            <td>
                                <div class="actions">
                                    <input data-user-account-switch data-user-id="{{ twitter_user.id }}" type="checkbox" class="make-switc" 
                                        {% if twitter_user.is_active %}
                                            checked
                                        {% endif %}
                                     data-on="success" data-on-color="success" data-off-color="warning" data-size="small" name="tool_status" value="{% if twitter_user.is_active %}1{% else %}0{% endif %}">
                                </div>
                            </td>
                            <td> {{ twitter_user.created_at }} </td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-left" role="menu">
                                        <li>
                                            <a href="{% url 'twitter_auto_post_account' twitter_user.id %}">
                                                <i class="icon-arrow-right"></i> Access account </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'twitter_edit_account' twitter_user.id %}">
                                                <i class="icon-tag"></i> Modify </a>
                                        </li>
                                        <li>
                                            <a onclick="return confirm('Are you sure you want to remove this user?');" href="{% url 'twitter_remove_account' twitter_user.id %}">
                                                <i class="icon-user"></i> Remove </a>
                                        </li>
                                        <!--<li class="divider"> </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="icon-flag"></i> Comments
                                                <span class="badge badge-success">4</span>
                                            </a>
                                        </li> -->
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
{% endblock %}
        
{% block extraScripts %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static "metronic/global/scripts/datatable.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/plugins/datatables/datatables.min.js" %}" type="text/javascript"></script>
<script src="{% static "metronic/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" %}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static "metronic/pages/scripts/table-datatables-managed.min.js" %}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script type="text/javascript">
    function callAjax(ajax_url, user_id){
        $.ajax({
            method: "POST",
            url: ajax_url,
            dataType: "json",
            data: { user_id: user_id, csrfmiddlewaretoken: '{{ csrf_token }}' }
        })
        .done(function( msg ) {
            if(msg.status == 1)
                toastr.success(msg.message)
            else
                toastr.danger(msg.message)
        });
    }
    $("[data-user-account-switch]").bootstrapSwitch('onSwitchChange', function(){
        var user_id = $(this).data('user-id');
        if ($(this).prop('checked') ){
            callAjax("{% url 'twitter_act_account'%}", user_id);
            //call some other event
        }else{
            callAjax("{% url 'twitter_deact_account'%}", user_id);
            //call some other event
        }
    });
</script>
{% endblock %}
    </body>
</html>