{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Metronic Admin Theme #1 | Admin Dashboard</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #1 for statistics, charts, recent events and reports" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{% static "metronic/global/plugins/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "metronic/global/plugins/simple-line-icons/simple-line-icons.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "metronic/global/plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "metronic/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" %}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static "metronic/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "metronic/global/plugins/morris/morris.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "metronic/global/plugins/fullcalendar/fullcalendar.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "metronic/global/plugins/jqvmap/jqvmap/jqvmap.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "metronic/global/plugins/bootstrap-toastr/toastr.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "metronic/pages/css/profile.min.css" %}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{% static "metronic/global/css/components.min.css" %}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{% static "metronic/global/css/plugins.min.css" %}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{% static "metronic/layouts/layout/css/layout.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "metronic/layouts/layout/css/themes/darkblue.min.css" %}" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{% static "metronic/layouts/layout/css/custom.min.css" %}" rel="stylesheet" type="text/css" />
        <style type="text/css">
            .capitalize{
                text-transform: capitalize;
            }

            /* Hack for component steps square style */
            .mt-element-step .step-default .mt-step-number{
                border-radius: 0 !important; 
            }
        </style>
        {% block extraStyles %}{% endblock %}
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-content-white">
        <div class="page-wrapper">
            <!-- BEGIN HEADER -->
            <div class="page-header navbar navbar-fixed-top">
                <!-- BEGIN HEADER INNER -->
                <div class="page-header-inner ">
                    <!-- BEGIN LOGO -->
                    <div class="page-logo">
                        <a href="index.html">
                            <img src="{% static "metronic/layouts/layout/img/logo.png" %}" alt="logo" class="logo-default" /> </a>
                        <div class="menu-toggler sidebar-toggler">
                            <span></span>
                        </div>
                    </div>
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                        <span></span>
                    </a>
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <!-- BEGIN NOTIFICATION DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after "dropdown-extended" to change the dropdown styte -->
                            <!-- DOC: Apply "dropdown-hoverable" class after below "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
                            <!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->
                            <li class="dropdown dropdown-extended dropdown-notification hidden" id="header_notification_bar">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-bell"></i>
                                    <span class="badge badge-default"> 7 </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="external">
                                        <h3>
                                            <span class="bold">12 pending</span> notifications</h3>
                                        <a href="page_user_profile_1.html">view all</a>
                                    </li>
                                    <li>
                                        <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="time">just now</span>
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-success">
                                                            <i class="fa fa-plus"></i>
                                                        </span> New user registered. </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="time">3 mins</span>
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-danger">
                                                            <i class="fa fa-bolt"></i>
                                                        </span> Server #12 overloaded. </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="time">10 mins</span>
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-warning">
                                                            <i class="fa fa-bell-o"></i>
                                                        </span> Server #2 not responding. </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="time">14 hrs</span>
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-info">
                                                            <i class="fa fa-bullhorn"></i>
                                                        </span> Application error. </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="time">2 days</span>
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-danger">
                                                            <i class="fa fa-bolt"></i>
                                                        </span> Database overloaded 68%. </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="time">3 days</span>
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-danger">
                                                            <i class="fa fa-bolt"></i>
                                                        </span> A user IP blocked. </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="time">4 days</span>
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-warning">
                                                            <i class="fa fa-bell-o"></i>
                                                        </span> Storage Server #4 not responding dfdfdfd. </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="time">5 days</span>
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-info">
                                                            <i class="fa fa-bullhorn"></i>
                                                        </span> System Error. </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="time">9 days</span>
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-danger">
                                                            <i class="fa fa-bolt"></i>
                                                        </span> Storage server failed. </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- END NOTIFICATION DROPDOWN -->
                            <!-- BEGIN INBOX DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <li class="dropdown dropdown-extended dropdown-inbox hidden" id="header_inbox_bar">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-envelope-open"></i>
                                    <span class="badge badge-default"> 4 </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="external">
                                        <h3>You have
                                            <span class="bold">7 New</span> Messages</h3>
                                        <a href="app_inbox.html">view all</a>
                                    </li>
                                    <li>
                                        <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                                            <li>
                                                <a href="#">
                                                    <span class="photo">
                                                        <img src="{% static "metronic/layouts/layout3/img/avatar2.jpg" %}" class="img-circle" alt=""> </span>
                                                    <span class="subject">
                                                        <span class="from"> Lisa Wong </span>
                                                        <span class="time">Just Now </span>
                                                    </span>
                                                    <span class="message"> Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh... </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="photo">
                                                        <img src="{% static "metronic/layouts/layout3/img/avatar3.jpg" %}" class="img-circle" alt=""> </span>
                                                    <span class="subject">
                                                        <span class="from"> Richard Doe </span>
                                                        <span class="time">16 mins </span>
                                                    </span>
                                                    <span class="message"> Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh... </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="photo">
                                                        <img src="{% static "metronic/layouts/layout3/img/avatar1.jpg" %}" class="img-circle" alt=""> </span>
                                                    <span class="subject">
                                                        <span class="from"> Bob Nilson </span>
                                                        <span class="time">2 hrs </span>
                                                    </span>
                                                    <span class="message"> Vivamus sed nibh auctor nibh congue nibh. auctor nibh auctor nibh... </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="photo">
                                                        <img src="{% static "metronic/layouts/layout3/img/avatar2.jpg" %}" class="img-circle" alt=""> </span>
                                                    <span class="subject">
                                                        <span class="from"> Lisa Wong </span>
                                                        <span class="time">40 mins </span>
                                                    </span>
                                                    <span class="message"> Vivamus sed auctor 40% nibh congue nibh... </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="photo">
                                                        <img src="{% static "metronic/layouts/layout3/img/avatar3.jpg" %}" class="img-circle" alt=""> </span>
                                                    <span class="subject">
                                                        <span class="from"> Richard Doe </span>
                                                        <span class="time">46 mins </span>
                                                    </span>
                                                    <span class="message"> Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh... </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- END INBOX DROPDOWN -->
                            <!-- BEGIN TODO DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <li class="dropdown dropdown-extended dropdown-tasks hidden" id="header_task_bar">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-calendar"></i>
                                    <span class="badge badge-default"> 3 </span>
                                </a>
                                <ul class="dropdown-menu extended tasks">
                                    <li class="external">
                                        <h3>You have
                                            <span class="bold">12 pending</span> tasks</h3>
                                        <a href="app_todo.html">view all</a>
                                    </li>
                                    <li>
                                        <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="task">
                                                        <span class="desc">New release v1.2 </span>
                                                        <span class="percent">30%</span>
                                                    </span>
                                                    <span class="progress">
                                                        <span style="width: 40%;" class="progress-bar progress-bar-success" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">40% Complete</span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="task">
                                                        <span class="desc">Application deployment</span>
                                                        <span class="percent">65%</span>
                                                    </span>
                                                    <span class="progress">
                                                        <span style="width: 65%;" class="progress-bar progress-bar-danger" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">65% Complete</span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="task">
                                                        <span class="desc">Mobile app release</span>
                                                        <span class="percent">98%</span>
                                                    </span>
                                                    <span class="progress">
                                                        <span style="width: 98%;" class="progress-bar progress-bar-success" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">98% Complete</span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="task">
                                                        <span class="desc">Database migration</span>
                                                        <span class="percent">10%</span>
                                                    </span>
                                                    <span class="progress">
                                                        <span style="width: 10%;" class="progress-bar progress-bar-warning" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">10% Complete</span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="task">
                                                        <span class="desc">Web server upgrade</span>
                                                        <span class="percent">58%</span>
                                                    </span>
                                                    <span class="progress">
                                                        <span style="width: 58%;" class="progress-bar progress-bar-info" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">58% Complete</span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="task">
                                                        <span class="desc">Mobile development</span>
                                                        <span class="percent">85%</span>
                                                    </span>
                                                    <span class="progress">
                                                        <span style="width: 85%;" class="progress-bar progress-bar-success" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">85% Complete</span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="task">
                                                        <span class="desc">New UI release</span>
                                                        <span class="percent">38%</span>
                                                    </span>
                                                    <span class="progress progress-striped">
                                                        <span style="width: 38%;" class="progress-bar progress-bar-important" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">38% Complete</span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- END TODO DROPDOWN -->
                            <!-- BEGIN USER LOGIN DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle text-center">
                                    <span class="username username-hide-on-mobile" style="min-width: 70px;"> Logged in as {{ user.username }} </span>
                                </a>
                            </li>
                            <!-- END USER LOGIN DROPDOWN -->
                            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <li class="dropdown dropdown-quick-sidebar-toggler">
                                <a href="{% url 'logout' %}" class="dropdown-toggle"><i class="icon-logout"></i>
                                </a>
                            </li>
                            <!-- END QUICK SIDEBAR TOGGLER -->
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END HEADER INNER -->
            </div>
            <!-- END HEADER -->
            <!-- BEGIN HEADER & CONTENT DIVIDER -->
            <div class="clearfix"> </div>
            <!-- END HEADER & CONTENT DIVIDER -->
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN SIDEBAR -->
                <div class="page-sidebar-wrapper">
                    <!-- BEGIN SIDEBAR -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <div class="page-sidebar navbar-collapse collapse">
                        <!-- BEGIN SIDEBAR MENU -->
                        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                            <li class="sidebar-toggler-wrapper hide">
                                <div class="sidebar-toggler">
                                    <span></span>
                                </div>
                            </li>
                            <!-- END SIDEBAR TOGGLER BUTTON -->
                            <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                            <li class="nav-item start {% if request.resolver_match.url_name == 'home' %} active open {% endif %}">
                                <a href="{% url 'home' %}" class="nav-link">
                                    <i class="icon-home"></i>
                                    <span class="title">Dashboard</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            {% if user.is_staff %}
                            <li class="nav-item {% if request.resolver_match.url_name == 'users_add' or request.resolver_match.url_name == 'users_view'  %}  active open {% endif %}">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-diamond"></i>
                                    <span class="title">Site Users</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item {% if request.resolver_match.url_name == 'users_add'  %}  active {% endif %}">
                                        <a href="{% url 'users_add' %}" class="nav-link">
                                            <span class="title">Add New User</span>
                                        </a>
                                    </li>
                                    <li class="nav-item {% if request.resolver_match.url_name == 'users_view'  %}  active {% endif %}">
                                        <a href="{% url 'users_view' %}" class="nav-link ">
                                            <span class="title">Manage Site Users</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                            <!-- <li class="nav-item  {% if request.resolver_match.url_name == 'roles_and_permissions' %}  active open {% endif %}">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-puzzle"></i>
                                    <span class="title">Roles & Permissions</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="{% url 'roles_view' %}" class="nav-link ">
                                            <span class="title">View All Roles</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="components_color_pickers.html" class="nav-link ">
                                            <span class="title">Manage Roles</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="components_select2.html" class="nav-link ">
                                            <span class="title">View All Permissions</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="components_bootstrap_select.html" class="nav-link ">
                                            <span class="title">Manage Permissions</span>
                                        </a>
                                    </li>
                                </ul>
                            </li> -->
                            <li class="heading">
                                <h3 class="uppercase">Twitter Tools</h3>
                            </li>
                            <li class="nav-item {% if request.resolver_match.url_name == 'twitter_add_account' %}  active {% endif %}">
                                <a href="{% url 'twitter_add_account' %}" class="nav-link ">
                                    <span class="title">Add Account
                                </a>
                            </li>
                            <li class="nav-item {% if request.resolver_match.url_name == 'twitter_view_accounts' %}  active{% endif %} ">
                                <a href="{% url 'twitter_view_accounts' %}" class="nav-link ">
                                    <span class="title">Manage Accounts
                                </a>
                            </li>
                            <!-- Display only if account added by logged in member -->
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-settings"></i> Utilize Twitter Tools
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    {% if g_twitter_accounts %}
                                        {% for g_twitter_account in g_twitter_accounts %}
                                            <li class="nav-item">
                                                <a href="{% url 'twitter_auto_post_account' g_twitter_account.id %}" class="nav-link">
                                                    <small>@</small>{{ g_twitter_account.twitter_username }}</a>
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        <li class="nav-item">
                                            <a disabled class="nav-link">
                                                No account added yet!</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                                    <!-- END of content for logged in member -->
                                    <!-- <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="icon-bar-chart"></i> Item 3 </a>
                                    </li> -->
                                
                            {% if user.is_superuser %}
                            <li class="heading">
                                <h3 class="uppercase">Settings</h3>
                            </li>
                            <li class="nav-item {% if request.resolver_match.url_name == 'twitter_tools_settings' %}  active{% endif %}">
                                <a href="{% url 'twitter_tools_settings' %}">
                                    <span class="title">Twitter Tools Settings</span>
                                </a>
                            </li>
                            <li class="nav-item 
                                {% if request.resolver_match.url_name == 'error_reporting' %}
                                    active
                                {% endif %} ">
                                <a href="{% url 'error_reporting' %}">
                                    <span class="title">Error Reporting</span>
                                </a>
                            </li>
                            <!--<li class="nav-item {% if request.resolver_match.url_name == 'config_tools_auto_post' %}  active{% endif %}">
                                <a href="{% url 'config_tools_auto_post' %}" class="nav-link ">
                                    <span class="title">Auto Post</span>
                                </a>
                            </li>
                            <li class="nav-item {% if request.resolver_match.url_name == 'config_tools_auto_follow' %}  active{% endif %}">
                                <a href="{% url 'config_tools_auto_follow' %}" class="nav-link ">
                                    <span class="title">Auto Follow</span>
                                </a>
                            </li>
                            <li class="nav-item {% if request.resolver_match.url_name == 'config_tools_auto_retweet' %}  active{% endif %}">
                                <a href="{% url 'config_tools_auto_retweet' %}" class="nav-link ">
                                    <span class="title">Auto Retweet</span>
                                </a>
                            </li>
                            <li class="nav-item {% if request.resolver_match.url_name == 'config_tools_auto_direct_message' %}  active{% endif %}">
                                <a href="{% url 'config_tools_auto_direct_message' %}" class="nav-link ">
                                    <span class="title">Auto Direct Message</span>
                                </a>
                            </li>
                            <li class="nav-item {% if request.resolver_match.url_name == 'config_tools_auto_twitter_analyzer' %}  active{% endif %}">
                                <a hef="#" href="{% url 'config_tools_auto_twitter_analyzer' %}" class="nav-link ">
                                    <span class="title">Auto Twitter Analyzer</span>
                                </a>
                            </li>-->
                            {% endif %}                            
                        </ul>
                        <!-- END SIDEBAR MENU -->
                        <!-- END SIDEBAR MENU -->
                    </div>
                    <!-- END SIDEBAR -->
                </div>
                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-content">
                        <!-- BEGIN PAGE HEADER-->
                        
                        <!-- BEGIN PAGE BAR -->
                        <div class="page-bar hidden">
                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="index.html">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>Dashboard</span>
                                </li>
                            </ul>
                        </div>
                        <!-- END PAGE BAR -->
                        <!-- BEGIN PAGE TITLE-->
                        <h1 class="page-title">{% block mainHeading %}{% endblock %}</h1>
                        {% block mainContent %}
                        {% endblock %}
                    </div>
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END CONTAINER -->
            <!-- BEGIN FOOTER -->
            <div class="page-footer">
                <div class="page-footer-inner"> 2016 &copy; Metronic Theme By
                    <a target="_blank" href="http://keenthemes.com">Keenthemes</a> &nbsp;|&nbsp;
                    <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
            <!-- END FOOTER -->
        </div>
        
        <!--[if lt IE 9]>
<script src="{% static "metronic/global/plugins/respond.min.js" %}"></script>
<script src="{% static "metronic/global/plugins/excanvas.min.js" %}"></script> 
<script src="{% static "metronic/global/plugins/ie8.fix.min.js" %}"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="{% static "metronic/global/plugins/jquery.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/bootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/js.cookie.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/jquery.blockui.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" %}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->

        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{% static "metronic/global/plugins/morris/morris.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/morris/raphael-min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/counterup/jquery.waypoints.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/counterup/jquery.counterup.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/amcharts/amcharts/amcharts.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/amcharts/amcharts/serial.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/amcharts/amcharts/pie.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/amcharts/amcharts/radar.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/amcharts/amcharts/themes/light.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/amcharts/amcharts/themes/patterns.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/amcharts/amcharts/themes/chalk.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/amcharts/ammap/ammap.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/jqvmap/jqvmap/jquery.vmap.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->

        <!-- BEGIN GLOBAL NOTIFICATIONS SCRIPTS -->
        <script src="{% static "metronic/global/plugins/bootstrap-toastr/toastr.min.js" %}" type="text/javascript"></script>
        <!-- END GLOBAL NOTIFICATIONS SCRIPTS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{% static "metronic/global/scripts/app.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/pages/scripts/ui-toastr.min.js" %}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{% static "metronic/pages/scripts/dashboard.min.js" %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{% static "metronic/layouts/layout/scripts/layout.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/layouts/layout/scripts/demo.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/layouts/global/scripts/quick-sidebar.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/layouts/global/scripts/quick-nav.min.js" %}" type="text/javascript"></script>
        {% block extraScripts %}{% endblock %}
        <!-- END THEME LAYOUT SCRIPTS -->
        <script>
            $(document).ready(function()
            {
                $('#clickmewow').click(function()
                {
                    $('#radio1003').attr('checked', 'checked');
                });
            
                /*
                 * BEGIN Toastr global settings
                 */
                toastr.options.closeButton = true;
                toastr.options.showMethod = 'slideDown';
                toastr.options.hideMethod = 'slideUp';
                toastr.options.closeMethod = 'slideUp';
                toastr.options.preventDuplicates = true;
                toastr.options.progressBar = true;
                /*
                 * END Toastr gloabl settings
                 */
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            toastr.error('{{ message }}')
                        {% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                            toastr.warning('{{ message }}')
                        {% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            toastr.success('{{ message }}')
                        {% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                            toastr.info('{{ message }}')
                        {% endif %}
                    {% endfor %}
                {% endif %}
                
            })
        </script>

        <script type="text/javascript">
            var allOptions = [];
            $('select.select2[data-allow-clear] option').each(function(k, v){
                    allOptions[k] = v.value;
            });
            $("#select2-select-all").on("click", function(e){
                e.preventDefault();
                $('select.select2[data-allow-clear]').val(allOptions).trigger("change");
            });
        </script>
    </body>

</html>