{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #1 for statistics, charts, recent events and reports" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{% static "metronic/global/plugins/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "metronic/global/plugins/simple-line-icons/simple-line-icons.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "metronic/global/plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "metronic/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "metronic/global/plugins/bootstrap-toastr/toastr.min.css" %}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static "metronic/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "metronic/global/plugins/morris/morris.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "metronic/global/plugins/fullcalendar/fullcalendar.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "metronic/global/plugins/jqvmap/jqvmap/jqvmap.css" %}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{% static "metronic/global/css/components.min.css" %}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{% static "metronic/global/css/plugins.min.css" %}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{% static "metronic/layouts/layout/css/layout.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "metronic/layouts/layout/css/themes/darkblue.min.css" %}" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{% static "metronic/layouts/layout/css/custom.min.css" %}" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> </head>
    <!-- END HEAD -->
    {% block extraStyles %}
    {% endblock %}

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <div class="page-wrapper">
            <!-- BEGIN HEADER -->
            <div class="page-header navbar navbar-fixed-top">
                <!-- BEGIN HEADER INNER -->
                <div class="page-header-inner text-center">
                    <!-- BEGIN TOP NAVIGATION MENU -->
                	<a href="#">
                        <img style="min-height: 20px; margin-top: 15px;" src="{% static "metronic/layouts/layout/img/logo.png" %}" alt="logo" class="logo-default" />
                    </a>
                </div>
                <!-- END HEADER INNER -->
            </div>
            <!-- END HEADER -->
            <!-- BEGIN HEADER & CONTENT DIVIDER -->
            <div class="clearfix"> </div>
            <!-- END HEADER & CONTENT DIVIDER -->
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                {% block content %}{% endblock %}
            </div>
            <!-- END CONTAINER -->
            <!-- BEGIN FOOTER -->
            <div class="page-footer">
                <div class="page-footer-inner"> 2016 &copy; Metronic Theme By
                    <a target="_blank" href="http://keenthemes.com">Keenthemes</a> &nbsp;|&nbsp;
                    <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
            <!-- END FOOTER -->
        </div>
        <!--[if lt IE 9]>
			<script src="{% static "metronic/global/plugins/respond.min.js" %}"></script>
			<script src="{% static "metronic/global/plugins/excanvas.min.js" %}"></script> 
			<script src="{% static "metronic/global/plugins/ie8.fix.min.js" %}"></script> 
		<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="{% static "metronic/global/plugins/jquery.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/bootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/js.cookie.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/jquery.blockui.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" %}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{% static "metronic/global/plugins/moment.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/morris/morris.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/morris/raphael-min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/counterup/jquery.waypoints.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/counterup/jquery.counterup.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/amcharts/amcharts/amcharts.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/amcharts/amcharts/serial.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/amcharts/amcharts/pie.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/amcharts/amcharts/radar.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/amcharts/amcharts/themes/light.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/amcharts/amcharts/themes/patterns.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/amcharts/amcharts/themes/chalk.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/amcharts/ammap/ammap.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/amcharts/ammap/maps/js/worldLow.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/amcharts/amstockcharts/amstock.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/fullcalendar/fullcalendar.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/horizontal-timeline/horizontal-timeline.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/flot/jquery.flot.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/flot/jquery.flot.resize.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/flot/jquery.flot.categories.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/jquery.sparkline.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/jqvmap/jqvmap/jquery.vmap.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{% static "metronic/global/scripts/app.min.js" %}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{% static "metronic/pages/scripts/dashboard.min.js" %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{% static "metronic/layouts/layout/scripts/layout.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/layouts/layout/scripts/demo.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/layouts/global/scripts/quick-sidebar.min.js" %}" type="text/javascript"></script>
        <script src="{% static "metronic/layouts/global/scripts/quick-nav.min.js" %}" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->

        <!-- BEGIN GLOBAL NOTIFICATIONS SCRIPTS -->
        <script src="{% static "metronic/global/plugins/bootstrap-toastr/toastr.min.js" %}" type="text/javascript"></script>
        <!-- END GLOBAL NOTIFICATIONS SCRIPTS -->

        <script>
            $(document).ready(function()
            {
                $('#clickmewow').click(function()
                {
                    $('#radio1003').attr('checked', 'checked');
                });
            })
            /*
             * BEGIN Toastr global settings
             */
            toastr.options.closeButton = true;
            toastr.options.showMethod = 'slideDown';
            toastr.options.hideMethod = 'slideUp';
            toastr.options.closeMethod = 'slideUp';
            toastr.options.preventDuplicates = true;
            toastr.options.progressBar = true;
            /*
             * END Toastr gloabl settings
             */
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        toastr.error('{{ message }}')
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                        toastr.warning('{{ message }}')
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        toastr.success('{{ message }}')
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                        toastr.info('{{ message }}')
                    {% endif %}
                {% endfor %}
            {% endif %}
        </script>
    </body>

</html>