{% if messages %}
<!-- <ul class="messages"> -->
    <div>
    	<ul>
    {% for message in messages %}
   	<li><pre>{{ message }}</pre></li>
   	<br>
    {% endfor %}
    </ul>
    </div>
<!-- </ul> -->
{% endif %}