<div class="todo-sidebar">
    <div class="portlet light profile-sidebar-portlet ">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
            <img src="https://twitter.com/{{ current_twitter_user.twitter_username }}/profile_image?size=original" data-url-option="mini|normal|bigger|original>" class="img-responsive" alt=""> </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
            <div class="profile-usertitle-name"> @{{ current_twitter_user.twitter_username|default:"N.A" }} </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <!-- <div class="profile-userbuttons">
            <button type="button" class="btn btn-circle green btn-sm">Follow</button>
            <button type="button" class="btn btn-circle red btn-sm">Message</button>
        </div> -->
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
            <ul class="nav">
                <li class=" {% if request.resolver_match.url_name == 'twitter_auto_post_account' %} active {% endif %}">
                    <a href="{% url 'twitter_auto_post_account' current_twitter_user.id %}">
                         Auto Post </a>
                </li>
                <li class=" {% if request.resolver_match.url_name == 'twitter_auto_follow_account' %} active {% endif %}">
                    <a href="{% url 'twitter_auto_follow_account' current_twitter_user.id %}">
                        Auto Follow </a>
                </li>
                <li class=" {% if request.resolver_match.url_name == 'twitter_auto_retweet_account' %} active {% endif %}">
                    <a href="{% url 'twitter_auto_retweet_account' current_twitter_user.id %}">
                        Retweet Accounts </a>
                </li>
                <li class=" {% if request.resolver_match.url_name == 'twitter_auto_direct_message_account' %} active {% endif %}">
                    <a href="{% url 'twitter_auto_direct_message_account' current_twitter_user.id %}">
                        Auto Direct Message </a>
                </li>
                <li class=" {% if request.resolver_match.url_name == 'twitter_auto_twitter_analyzer_account' %} active {% endif %}">
                    <a href="{% url 'twitter_auto_twitter_analyzer_account' current_twitter_user.id %}">
                        Twitter Analyzer </a>
                </li>
            </ul>
        </div>
        <!-- END MENU -->
    </div>
 
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption" data-toggle="collapse" data-target=".todo-project-list-content-tags">
                <span class="caption-subject font-red bold uppercase">Pick Account </span>
                <span class="caption-helper visible-sm-inline-block visible-xs-inline-block">Click to pick another account</span>
            </div>
        </div>
        <div class="portlet-body todo-project-list-content todo-project-list-content-tags">
            <div class="todo-project-list">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        {% for twitter_user in g_twitter_accounts %}
                            <a href="{% url 'twitter_auto_post_account' twitter_user.id %}">{{ twitter_user.twitter_username|default:"N.A" }}</a>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END TODO SIDEBAR -->